* {
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
  margin: 0px;
  padding: 0px;
}

html {
  font-size: 20px;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}

@media only screen and (min-width: 400px) {
  html {
    font-size: 21.33px !important;
  }
}
@media only screen and (min-width: 414px) {
  html {
    font-size: 22.08px !important;
  }
}
@media only screen and (min-width: 480px) {
  html {
    font-size: 25.6px !important;
  }
}
body {
  font-family: 'Arial', 'Microsoft YaHei', sans-seri;
  color: #333;
  font-size: 16px;
  line-height: 1.5;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

i,
b {
  font-weight: normal;
  font-style: normal;
}

a {
  text-decoration: none;
}

img {
  vertical-align: middle;
  border: 0;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

textarea,
select,
button,
input {
  border: 0;
  background: none;
}

textarea,
select,
button,
input,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: none;
}

textarea {
  resize: none;
}

input:disabled {
  opacity: .9;
}

input[type="button"]:active {
  opacity: .8;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clear {
  clear: both;
}

.none {
  display: none;
}

.clearfix:after {
  content: "\200B";
  display: block;
  height: 0;
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.scroll-touch {
  -webkit-overflow-scrolling: touch;
}
.scroll-touch::-webkit-scrollbar {
  display: none;
}

[v-cloak] {
  display: none;
}

.danmaku-main {
  height: 216px;
  background-position: center;
  background-size: cover;
  /*background-image: url(../images/fxf-bg.png);*/
  position: relative;
}

#layer {position: absolute;top: 0;left: 0;right:0;bottom:0;z-index:10;background-color:#000000;-moz-opacity: 0.5;opacity:.50;filter: alpha(opacity=50);display: none;}

.danmaku-main .nodanmu {
	position: absolute;
	color: #FFFFFF;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	z-index: 20;
	display: none;
}

.danmaku-main .nodanmu p {
	line-height: 26px;
}

.danmaku-main .nodanmu p:first-child {
	margin-top: 80px;
}

.danmaku-list {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.danmaku-list li {
  overflow: hidden;
  -webkit-animation: danmaku 20s linear 0s forwards;
          animation: danmaku 20s linear 0s forwards;
  vertical-align: top;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  line-height: 0;
  position: absolute;
  left: 100vw;
  z-index: 1;
  height: 28px;
}
.danmaku-list li.status-my {
  z-index: 5;
}
.danmaku-list li:nth-child(4n+1) {
  top: 20px;
}
.danmaku-list li:nth-child(4n+2) {
  -webkit-animation: danmaku 18s linear 0s forwards;
          animation: danmaku 18s linear 0s forwards;
  top: 68px;
}
.danmaku-list li:nth-child(4n+3) {
  top: 116px;
}
.danmaku-list li:nth-child(4n+4) {
  top: 164px;
}
.danmaku-list li.status-counselor .danmaku-video {
  background-color: #acd4eb;
}
.danmaku-list li.status-counselor .danmaku-video:before {
  border-right: 7px solid #acd4eb;
}
.danmaku-list li.status-counselor .danmaku-video-icon {
  background-image: url(../images/fxf-audio-2.png);
  color: #FFFFFF;
}
.danmaku-list li.status-parent .danmaku-video {
  background-color: #4ab689;
}
.danmaku-list li.status-parent .danmaku-video:before {
  border-right: 7px solid #4ab689;
}
.danmaku-list li.status-parent .danmaku-video-icon {
  background-image: url(../images/fxf-audio-2.png);
  color: #FFFFFF;
}
.danmaku-list li.status-teacher .danmaku-video {
  background-color: #ffd9d9;
}
.danmaku-list li.status-teacher .danmaku-video:before {
  border-right: 7px solid #ffd9d9;
}
.danmaku-list li.status-teacher .danmaku-video-icon {
  background-image: url(../images/fxf-audio-1.png);
  color: #452609;
}
.danmaku-list li.status-student .danmaku-video {
  background-color: #fcf187;
}
.danmaku-list li.status-student .danmaku-video:before {
  border-right: 7px solid #fcf187;
}
.danmaku-list li.status-student .danmaku-video-icon {
  background-image: url(../images/fxf-audio-1.png);
  color: #452609;
}
.danmaku-list li.pauseAnimation {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  z-index: 6;
}
.danmaku-list li.pauseAnimation.status-teacher .danmaku-video-icon, .danmaku-list li.pauseAnimation.status-student .danmaku-video-icon {
  background-image: url(../images/fxf-audio-1s.gif);
}
.danmaku-list li.pauseAnimation.status-counselor .danmaku-video-icon,.danmaku-list li.pauseAnimation.status-parent .danmaku-video-icon {
  background-image: url(../images/fxf-audio-2s.gif);
}

@-webkit-keyframes danmaku {
  100% {
    left: -100vw;
  }
}

@keyframes danmaku {
  100% {
    left: -100vw;
  }
}
.danmaku-portrait {
  position: relative;
  display: inline-block;
  height: 28px;
}
.danmaku-portrait img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.status-my .danmaku-portrait:after {
  border: 2px solid #fe3664;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 28px;
  border-radius: 100%;
  z-index: 2;
  box-sizing: border-box;
}
.status-my .danmaku-video:after {
  border: 2px solid #fe3664;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 28px;
  border-radius: 4px;
  z-index: 2;
  box-sizing: border-box;
}
.status-my .danmaku-video-my {
  display: block;
}

.danmaku-video {
  position: relative;
  display: inline-block;
  margin-left: 10px;
  border-radius: 4px;
  padding: 0 10px;
  height: 28px;
  line-height: 28px;
}
.danmaku-video.danmaku-lentht-1 {
  width: 70px;
}
.danmaku-video.danmaku-lentht-2 {
  width: 80px;
}
.danmaku-video.danmaku-lentht-3 {
  width: 90px;
}
.danmaku-video:before {
  content: '';
  position: absolute;
  z-index: 3;
  top: 50%;
  margin-top: -4px;
  left: -5px;
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-right: 7px solid red;
  border-bottom: 4px solid transparent;
}

.danmaku-video-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 28px;
  opacity: 0;
  z-index: 10;
  border-radius: 4px;
}

.danmaku-video-icon {
  background-position: 0px 9px;
  background-size: 8px;
  background-repeat: no-repeat;
  margin-right: 5px;
  font-size: 12px;
  padding-left: 15px;
  line-height: 28px;
}

.danmaku-video-my {
  position: absolute;
  z-index: 8;
  top: 50%;
  width: 7px;
  margin-top: -4px;
  left: -5px;
  display: none;
}



/*# sourceMappingURL=style.css.map */
