* {
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
  margin: 0px;
  padding: 0px;
}

html {
  font-size: 20px;
  -webkit-tap-highlight-color: transparent;
}

@media only screen and (min-width: 400px) {
  html {
    font-size: 21.33px !important;
  }
}
@media only screen and (min-width: 414px) {
  html {
    font-size: 22.08px !important;
  }
}
@media only screen and (min-width: 480px) {
  html {
    font-size: 25.6px !important;
  }
}
body {
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 1.5;
}

i,
b {
  font-weight: normal;
  font-style: normal;
}

a {
  text-decoration: none;
}

img {
  vertical-align: middle;
  border: 0;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clear {
  clear: both;
}

.none {
  display: none;
}

.clearfix:after {
  content: "\200B";
  display: block;
  height: 0;
  clear: both;
}

.clearfix {
  *zoom: 1;
}

textarea,
select,
button,
input {
  border: 0;
  background: none;
}

textarea,
select,
button,
input,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: none;
}

input:disabled {
  opacity: .9;
}

[v-cloak] {
  display: none;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.content {
  max-width: 640px;
  min-width: 320px;
  margin: auto;
  position: relative;
}

.scroll-touch {
  -webkit-overflow-scrolling: touch;
}
.scroll-touch::-webkit-scrollbar {
  display: none;
}

.counselors-bg {
  background-color: #252525;
}

.counselors-header {
  position: relative;
  height: 13rem;
  z-index: 1;
  background-position: top center;
  background-size: cover;
  background-image: url(../images/head-bg.jpg);
}

.counselors-header-bg {
  background-position: top center;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.counselors-header-logo {
  position: absolute;
  width: 1.7rem;
  top: .7rem;
  right: .7rem;
  z-index: 2;
}
.counselors-header-logo img {
  width: 100%;
}

.counselors-header-bt {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 2;
}
.counselors-header-bt img {
  width: 100%;
}

.counselors-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
  top: -1rem;
  padding-bottom: .5rem;
}

.counselors-bottom-left {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.counselors-bottom-right {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
}

.counselors-message {
  color: #ffd100;
  text-align: center;
  min-height: 9.4rem;
}

.counselors-message1,
.counselors-message2 {
  display: inline-block;
  font-size: 2rem;
  width: 2.3rem;
  font-weight: bold;
  line-height: 2.1rem;
  vertical-align: top;
}

.counselors-message2 {
  padding-top: 1rem;
}

.counselors-name {
  color: #fff;
  font-size: 1.5rem;
}

.counselors-content {
  padding: 1.7rem 1.5rem 0 0;
  text-align: right;
}

.counselors-jobName {
  color: #fff;
  font-size: .7rem;
  padding: .2rem 0 .4rem 0;
}

.counselors-position {
  color: #fff;
  font-size: .7rem;
  padding: .2rem 0 0 0;
  line-height: 1.2rem;
  max-height: 6.2rem;
  overflow: hidden;
  word-break: break-all;
}

.counselors-skill {
  color: #fff;
  font-size: .8rem;
  line-height: 1.2rem;
  padding-top: .8rem;
  max-height: 6.8rem;
  overflow: hidden;
}

.counselors-skill-list {
  display: inline-block;
}

.counselors-qr {
  padding-top: 1.6rem;
}

.counselors-qr-pic {
  text-align: center;
}
.counselors-qr-pic img {
  width: 4.5rem;
}

.counselors-qr-txt {
  text-align: center;
  line-height: 1.2;
  font-size: .6rem;
  color: #fff;
}
.counselors-qr-txt img {
  width: .5rem;
}

.counselors-news-header {
  height: 3.7rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.counselors-news-content {
  background-position: center top;
  background-size: cover;
  position: relative;
  min-height: calc(100vh - 3.7rem - 4.7rem);
}

.counselors-news-footer {
  height: 4.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 1.5rem;
}

.counselors-news-name {
  font-size: 1.7rem;
  color: #2fccab;
  height: 1.9rem;
  line-height: 1.9rem;
  padding: 0 .5rem 0 .7rem;
  border-right: 2px solid #2fccab;
  padding-top: .1rem;
}

.counselors-news-right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 .5rem;
}

.counselors-news-jy {
  color: #2fccab;
  font-size: .7rem;
  line-height: .8rem;
  height: 1rem;
}

.counselors-news-e {
  line-height: 0;
  height: .9rem;
}
.counselors-news-e img {
  width: 10rem;
  max-width: 100%;
}

.counselors-news-footer-btn {
  font-size: .8rem;
  color: #442509;
  background-color: #ffe400;
  border-radius: .2rem;
  display: block;
  height: 2.2rem;
  text-align: center;
  width: 100%;
  line-height: 2.2rem;
}
.counselors-news-footer-btn:active {
  background-color: #dec702;
}

.counselors-news-job {
  position: absolute;
  top: 1rem;
  left: .7rem;
  color: #fff;
  font-size: .7rem;
}

.counselors-news-jobname {
  color: #2fccab;
  padding-top: .2rem;
}

.counselors-news-user {
  position: absolute;
  top: 5rem;
  left: .7rem;
  color: #fff;
  font-size: .6rem;
  line-height: 1.5rem;
}
.counselors-news-user img {
  width: .7rem;
  margin-right: .2rem;
  vertical-align: -2px;
}

.counselors-news-style {
  color: #fff;
  font-size: .7rem;
  padding: 14rem 0 1rem .7rem;
}

.counselors-news-style-title {
  font-size: .8rem;
}
.counselors-news-style-title span {
  display: inline-block;
  background-color: #2fccab;
  padding: .15rem .4rem;
}

.counselors-news-style-text {
  padding: .5rem 5rem 0 0;
  font-size: .6rem;
}

.counselors-news-skill {
  position: absolute;
  top: 1.5rem;
  right: .7rem;
  color: #fff;
  font-size: .7rem;
}

.counselors-news-skill-title {
  font-size: .8rem;
  color: #2fccab;
  text-align: center;
  padding-bottom: .7rem;
}

.counselors-news-skill-list {
  text-align: right;
}
.counselors-news-skill-list li {
  padding-bottom: .5rem;
}
.counselors-news-skill-list li span {
  display: inline-block;
  border: 1px solid #fff;
  border-radius: .1rem;
  padding: .15rem .4rem;
}

.download-app {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  height: 2.5rem;
  background-color: rgba(0, 0, 0, 0.8);
}

.download-app-close {
  position: absolute;
  top: .75rem;
  left: .25rem;
  width: 1rem;
  height: 1rem;
  padding: .25rem;
  line-height: 0;
}
.download-app-close img {
  width: 100%;
}

.download-app-logo {
  position: absolute;
  top: .3rem;
  left: 1.6rem;
  width: 1.9rem;
  border-radius: .2rem;
}

.download-app-tit {
  position: absolute;
  top: .3rem;
  left: 4rem;
  font-size: .7rem;
  color: #fff;
}

.download-app-txt {
  position: absolute;
  top: 1.3rem;
  left: 4rem;
  font-size: .6rem;
  color: #fff;
}

.download-app-btn {
  position: absolute;
  top: .5rem;
  right: .5rem;
  padding: 0 .7rem;
  height: 1.5rem;
  line-height: 1.5rem;
  font-size: .7rem;
  color: #fff;
  display: block;
  background-color: #2fccab;
  border-radius: .1rem;
}

.process-list {
  padding: 1.5rem 2rem .5rem 2rem;
}
.process-list li {
  height: 3.5rem;
  font-size: .8rem;
  color: #8a8a8a;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.process-list li.active {
  color: #2fccab;
}
.process-list li.active .process-dot-big {
  display: block;
}
.process-list li.active .process-dot-small {
  background-color: #2fccab;
}
.process-list li.active:after {
  background-color: #2fccab;
}
.process-list li:nth-child(1):after {
  display: none;
}
.process-list li:after {
  content: " ";
  width: 1px;
  height: 3.5rem;
  background-color: #c5c5c5;
  position: absolute;
  top: -3.1rem;
  left: 3.55rem;
  z-index: 1;
}

.process-step {
  float: left;
  line-height: 1.2rem;
  width: 3rem;
}

.process-dot {
  float: left;
  height: 1.2rem;
  width: 1.2rem;
  position: relative;
  z-index: 2;
}

.process-dot-big {
  position: absolute;
  top: .05rem;
  left: .05rem;
  width: 1.05rem;
  height: 1.05rem;
  border-radius: 50%;
  border: 1px solid #2fccab;
  display: none;
  background-color: #fff;
}

.process-dot-small {
  position: absolute;
  top: .25rem;
  left: .25rem;
  width: .65rem;
  height: .65rem;
  border-radius: 50%;
  background-color: #b8b8b8;
}

.process-con {
  float: left;
  padding-left: .8rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.process-con-text {
  font-size: .6rem;
}

.process-bottom {
  padding: 0 2rem;
}

.process-tel {
  font-size: .6rem;
  text-align: center;
  padding: 1.5rem 0;
  color: #442509;
}
.process-tel img {
  width: .6rem;
  margin-right: .5rem;
  vertical-align: -2px;
}
.process-tel a {
  color: #442509;
}