@layout("/common/_container.html"){
<article class="page-container">
	<form class="form form-horizontal" id="lawInformationInfoForm" onsubmit="return getContent();">
	<input type="hidden" value="" id="id" name="id">
	<input type="hidden" value="law_information" id="category" name="category">
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>标题：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="text" class="input-text" value="" id="title" name="title">
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>图片：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="file" class="input-text" id="imgUrlBtnId" name="imgUrlBtnId">
			<input type="hidden" class="input-text" value="" id="imgUrl" name="imgUrl">
		</div>
	</div>
	<div class="row cl">
		<div class="formControls col-xs-8 col-sm-9">
			<img src="" style="height: 120px;width: 120px;margin-left: 250px;" id="imgUrlPreId">
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>类型：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<select id="type" name="type" class="input-text">
				<option value="text">图文</option>
			</select>
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>发布时间：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="text"
			onfocus="WdatePicker({ maxDate:'#F{$dp.$D(\'maxTime\')||\'%y-%M-%d\'}' })"
			id="createTime" name="createTime" class="input-text Wdate" value="${dateString}">
			
			<input type="hidden"
			onfocus="WdatePicker({ maxDate:'#F{$dp.$D(\'maxTime\')||\'%y-%M-%d\'}' })"
			id="maxTime" name="maxTime" class="input-text Wdate" value="${dateString}">
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>作者：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="text" class="input-text" id="author" name="author"/>
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>内容：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<textarea style="display: none" id="content" name="content"></textarea>
	        <script id="editor" type="text/plain" style="width:100%;height:500px;"></script>
        </div>
    </div>
	<div class="row cl">
		<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
			<input class="btn btn-success radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
		</div>
	</div>
	</form>
</article>
<script src="${ctxPath}/static/modular/fzsg/law_information/law_information_info.js"></script>
@}