<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<title>品质苏供后台管理系统</title>
<!-- 全局css -->
<link rel="icon" href="${ctxPath}/static/h-ui.admin/images/logo.ico"  type="image/x-icon"/>
<!--[if lt IE 9]>
<script type="text/javascript" src="${ctxPath}/lib/html5shiv.js"></script>
<script type="text/javascript" src="${ctxPath}/lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="${ctxPath}/static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="${ctxPath}/lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="${ctxPath}/static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="${ctxPath}/static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="${ctxPath}/static/h-ui.admin/css/style.css" />

<style>
.cur{ background:#D96C00; font-weight:bold;}
</style>

<!--[if IE 6]>
<script type="text/javascript" src="${ctxPath}/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
</head>
<body>
 <!--头部开始-->
	@include("/common/_header.html"){}
 <!--头部结束-->
 
  <!--左侧导航开始-->
	@include("/common/_tab.html"){}
  <!--左侧导航结束-->
  
  <!--右侧部分开始-->
  	@include("/common/_right.html"){}
  <!--右侧部分结束-->
  
 

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="${ctxPath}/lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="${ctxPath}/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="${ctxPath}/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="${ctxPath}/static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="${ctxPath}/lib/jquery.contextmenu/jquery.contextmenu.r2.js"></script>
<script src="${ctxPath}/static/modular/common/Feng.js"></script>
<script type="text/javascript">
        Feng.addCtx("${ctxPath}");
        Feng.sessionTimeoutRegistry();
</script>
<script type="text/javascript">
/**
$(function(){
	var selectedMenu = getCookie("selectedMenu");
	var a = document.getElementsByClassName("bk_2")[0].getElementsByTagName("a");
	for(var i=0;i<a.length;i++){
		a[i].className="";
	}
	for(var i=0;i<a.length;i++){
		if(selectedMenu==i){
			a[i].className="current";
			return;
		}
	}
})
*/

function getCookie(cname){
    var name = cname + "=";
    var ca = document.cookie.split(';');
    for(var i=0; i<ca.length; i++) {
        var c = ca[i].trim();
        if (c.indexOf(name)==0) { return c.substring(name.length,c.length); }
    }
    return "";
}

/*资讯-添加*/
function article_add(title,url){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}
/*图片-添加*/
function picture_add(title,url){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}
/*产品-添加*/
function product_add(title,url){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}
/*用户-添加*/
function member_add(title,url,w,h){
	layer_show(title,url,w,h);
}


</script> 
</body>
</html>