@layout("/common/_container.html"){
<nav class="breadcrumb">
	<i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span>
	管理员管理 <span class="c-gray en">&gt;</span>字典项管理 <a
		class="btn btn-success radius r"
		style="line-height: 1.6em; margin-top: 3px"
		href="javascript:location.replace(location.href);" title="刷新"><i
		class="Hui-iconfont">&#xe68f;</i></a>
</nav>
<div class="page-container">
	<div class="text-c">
		字典项名称：<input type="text" class="input-text" style="width: 250px" id="name" name="name">
		<button type="button" class="btn btn-success" id="search"
			onclick="Dict.search()">
			<i class="Hui-iconfont">&#xe665;</i> 查询
		</button>
	</div>
	<div class="cl pd-5 bg-1 bk-gray mt-20">
		<span class="l">
			@if(shiro.hasPermission("/sys_dict/dict_del")){
			<a href="javascript:;" onclick="Dict.multi_del()" class="btn btn-danger radius"><i
				class="Hui-iconfont">&#xe6e2;</i> 删除</a> 
			@}
			@if(shiro.hasPermission("/sys_dict/dict_add")){
			<a href="javascript:;" onclick="Dict.openAddDict()"
			    class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i>
				添加</a>
			@}
		</span>
	</div>
	<table id="dictTable"
		class="table table-border table-bordered table-bg table-hover table-sort table-responsive">
	</table>
</div>
<!--底侧部分开始-->
@include("/common/_footer.html"){}
<!--底侧部分结束-->
<script src="${ctxPath}/static/modular/system/sys_dict/dict_list.js"></script>
@}
