@layout("/common/_container.html"){
<div class="page-container">
	<div class="text-c">
		标题：<input type="text" class="input-text" style="width:250px"  id="" name="title">
		根目录：<input type="text" class="input-text" style="width:250px" value="${title}" disabled="disabled">
		<input type="hidden" class="input-text" style="width:250px" name="categoryCode" value="${id}">
		<button type="button" class="btn buttons" id="search" onclick="lawMagic.search()"  ><i class="Hui-iconfont">&#xe665;</i> 查询</button>
	</div>
	<div class="cl pd-5 bg-1 bk-gray mt-20"> 
		<span class="l">
			<a href="javascript:;" onclick="lawMagic.del_lawMagic()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>
			<a href="javascript:;" onclick="lawMagic.add_lawMagic('新增法宝二级目录','${ctxPath}/sg_law_magic/law_magic_detail_add?id=${id}&title=${title}','1000','500')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 新增</a>
			<a href="javascript:;" onclick="lawMagic.push_lawMagic('publish')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe6e1;</i> 上架</a>
			<a href="javascript:;" onclick="lawMagic.push_lawMagic('no_publish')" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6dd;</i> 下架</a>
		</span> 
	</div>
	<table id="lawMagicTable" class="table table-border table-bordered table-bg">
		<thead>
			<tr>
			
			</tr>
		</thead>
	</table>
	
	
</div>
<!--底侧部分开始-->
		@include("/common/_footer.html"){}	
<!--底侧部分结束-->
<script src="${ctxPath}/static/modular/fzsg/law/law_magic_detail.js"></script>
@}
