@layout("/common/_container.html"){
<article class="page-container">
	<form class="form form-horizontal" id="lawMagicInfoForm" onsubmit="return getContent();">
	<input type="hidden" value="${info.id}" id="id" name="id">
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>标题：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="text" class="input-text" value="${info.title}" id="title" name="title">
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>根目录：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<select id="categoryCode" name="categoryCode" class="input-text">
				@for(dic in list){
	        	<option value="${dic.id}" 
	        		@if(info.categoryCode==dic.id){
		        		selected="selected"
		        	@}
	        	>
	        	${dic.title }
	        	</option>
				@}
			</select>
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>编辑时间：</label>
		<div class="formControls col-xs-8 col-sm-9 skin-minimal">
			<input type="text" class="input-text Wdate" value="${info.createTime}">
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>内容：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<textarea style="display: none" id="content" name="content">${info.content}</textarea>
	        <div id="editor" style="height: 400px; max-height: 500px;">${info.content}</div>
        </div>
    </div>
	<div class="row cl">
		<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
			<input class="btn btn-success radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
		</div>
	</div>
	</form>
</article>
<script src="${ctxPath}/static/modular/fzsg/law/law_magic_detail_info.js"></script>
@}