@layout("/common/_container.html"){
<nav class="breadcrumb">
<i class="Hui-iconfont">&#xe67f;</i> 
	首页 <span class="c-gray en">&gt;</span>
	@var menuWarpper = menukit.getMenuByCode("law_magic");
	@if(menuWarpper !=null){
		${menuWarpper.pname} <span class="c-gray en">&gt;</span> 
		${menuWarpper.name}
	@}
<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" >
	<i class="Hui-iconfont">&#xe68f;</i>
</a>
</nav>
<div class="page-container">
	<div class="text-c">
		标题：<input type="text" class="input-text enter" style="width:250px"  id="" name="title">
		<input type="hidden" class="input-text" style="width:250px" name="categoryCode">
		<button type="button" class="btn btn-success" id="search" onclick="lawMagic.search()"  ><i class="Hui-iconfont">&#xe665;</i> 查询</button>
	</div>
	<div class="cl pd-5 bg-1 bk-gray mt-20"> 
		<span class="l">
			@if(shiro.hasPermission("/sy_law_magic/del_magic")){
			<a href="javascript:;" onclick="lawMagic.del_lawMagic()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>
			@}
			@if(shiro.hasPermission("/sy_law_magic/add_magic")){
			<a href="javascript:;" onclick="lawMagic.add_lawMagic('新增法宝','${ctxPath}/sg_law_magic/law_magic_add','600','200')" class="btn btn-success radius"><i class="Hui-iconfont">&#xe600;</i> 新增</a>
			@}
			@if(shiro.hasPermission("/sy_law_magic/top_magic")){
			<a href="javascript:;" onclick="lawMagic.push_lawMagic('publish')" class="btn btn-success radius"><i class="Hui-iconfont">&#xe6e1;</i> 上架</a>
			@}
			@if(shiro.hasPermission("/sy_law_magic/down_magic")){
			<a href="javascript:;" onclick="lawMagic.push_lawMagic('no_publish')" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe706;</i> 下架</a>
			@}
		</span> 
	</div>
	<table id="lawMagicTable" class="table table-border table-bordered table-bg">
		<thead>
			<tr>
			
			</tr>
		</thead>
	</table>
	
	
</div>
<!--底侧部分开始-->
		@include("/common/_footer.html"){}	
<!--底侧部分结束-->
<script src="${ctxPath}/static/modular/fzsg/law/law_magic_list.js"></script>
@}
