<aside class="Hui-aside">
	<div class="menu_dropdown bk_2">
	@var menuList = menukit.getUserMenus();
	@for(menu in menuList){
      	<dl id="menu-${menu.id}">
		<dt><i class="Hui-iconfont">${menu.icon}</i>${menu.name}<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
		@if(menu.children !=null){
      			<dd>
			<ul>
				<li><a data-href="${ctxPath}/sg_banner/banner_list" data-title="banner管理" href="javascript:void(0)">banner管理</a></li>
				<li><a data-href="${ctxPath}/sg_major/major_list" data-title="专业管理" href="javascript:void(0)">专业管理</a></li>
				<li><a data-href="${ctxPath}/sg_law_risk/law_risk_list" data-title="法律风险" href="javascript:void(0)">法律风险</a></li>
				<li><a data-href="${ctxPath}/sg_law_magic/law_magic_list" data-title="苏供法宝库" href="javascript:void(0)">苏供法宝库</a></li>
				<li><a data-href="${ctxPath}/sg_law_hall/law_hall_list" data-title="法治讲堂" href="javascript:void(0)">法治讲堂</a></li>
				<li><a data-href="${ctxPath}/sg_law_information/law_information_list" data-title="法治动态" href="javascript:void(0)">法治动态</a></li>
				<li><a data-href="${ctxPath}/sg_theme/answer_person_num" data-title="答题人数管理" href="javascript:void(0)">答题人数管理</a></li>
				<li><a data-href="${ctxPath}/sg_subject/subject_list" data-title="法官题目管理" href="javascript:void(0)">法官题目管理</a></li>
				<li><a data-href="${ctxPath}/sg_theme/theme_list" data-title="我是法官" href="javascript:void(0)">我是法官</a></li>
				<li><a data-href="${ctxPath}/sg_ask/ask_list" data-title="咨询管理" href="javascript:void(0)">咨询管理</a></li>
				<li><a data-href="${ctxPath}/sg_award_set/award_set_list" data-title="设置" href="javascript:void(0)">设置</a></li>
			</ul>
		</dd>
	</dl>
		<dl id="menu-admin">
			<dt><i class="Hui-iconfont">&#xe62d;</i> 管理员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="${ctxPath}/sys_role/sys_role_list" data-title="角色管理" href="javascript:void(0)">角色管理</a></li>
					<li><a data-href="${ctxPath}/sys_menu/sys_menu_list" data-title="菜单管理" href="javascript:void(0)">菜单管理</a></li>
					<li><a data-href="${ctxPath}/sys_user" data-title="管理员列表" href="javascript:void(0)">管理员列表</a></li>
					<li><a data-href="${ctxPath}/sys_dict/dict_list" data-title="字典项管理" href="javascript:void(0)">字典项管理</a></li>
			</ul>
		</dd>
	</dl>
		<dl id="menu-tongji">
			<dt><i class="Hui-iconfont">&#xe61a;</i> 系统统计<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="charts-1.html" data-title="折线图" href="javascript:void(0)">折线图</a></li>
					<li><a data-href="charts-2.html" data-title="时间轴折线图" href="javascript:void(0)">时间轴折线图</a></li>
					<li><a data-href="charts-3.html" data-title="区域图" href="javascript:void(0)">区域图</a></li>
					<li><a data-href="charts-4.html" data-title="柱状图" href="javascript:void(0)">柱状图</a></li>
					<li><a data-href="charts-5.html" data-title="饼状图" href="javascript:void(0)">饼状图</a></li>
					<li><a data-href="charts-6.html" data-title="3D柱状图" href="javascript:void(0)">3D柱状图</a></li>
					<li><a data-href="charts-7.html" data-title="3D饼状图" href="javascript:void(0)">3D饼状图</a></li>
			</ul>
		</dd>
	</dl>
		<dl id="menu-system">
			<dt><i class="Hui-iconfont">&#xe62e;</i> 系统管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="system-base.html" data-title="系统设置" href="javascript:void(0)">系统设置</a></li>
					<li><a data-href="system-category.html" data-title="栏目管理" href="javascript:void(0)">栏目管理</a></li>
					<li><a data-href="system-data.html" data-title="数据字典" href="javascript:void(0)">数据字典</a></li>
					<li><a data-href="system-shielding.html" data-title="屏蔽词" href="javascript:void(0)">屏蔽词</a></li>
					<li><a data-href="system-log.html" data-title="系统日志" href="javascript:void(0)">系统日志</a></li>

				@for(children in menu.children){
				<li><a onclick="change_bg(this)" data-href="${ctxPath}${children.url}" data-title="${children.name}" href="javascript:void(0)">${children.name}</a></li>
				@}

			</ul>
		</dd>
      		@}
	</dl>
    @}
</div>
</aside>

<style type="text/css">
 
</style>
<script language="javascript" type="text/javascript">
var $c=function(array){
	var nArray = [];
	for (var i=0;i<array.length;i++) 
		nArray.push(array[i]);
		return nArray;
};

Array.prototype.each=function(func){
	for(var i=0,l=this.length;i<l;i++) {func(this[i],i);};
};

document.getElementsByClassName=function(cn){
	var hasClass=function(w,Name){
	var hasClass = false;
	w.className.split(' ').each(function(s){
	if (s == Name) hasClass = true;
	});
	return hasClass;
	}; 
	var elems =document.getElementsByTagName("*")||document.all;
   	var elemList = [];
   	$c(elems).each(function(e){
		if(hasClass(e,cn)){elemList.push(e);}
   })
  return $c(elemList);
};

function change_bg(obj){
	var a = document.getElementsByClassName("bk_2")[0].getElementsByTagName("a");
	for(var i=0;i<a.length;i++){
		a[i].className="";
		if(a[i] ==obj ){
			document.cookie="selectedMenu="+i;
		}
	}
	
	obj.className="current";
}
</script>
