<aside class="Hui-aside">
	<div class="menu_dropdown bk_2">
	@var menuList = menukit.getUserMenus();
	@for(menu in menuList){
      	<dl id="menu-${menu.id}">
		<dt><i class="Hui-iconfont">${menu.icon}</i>${menu.name}<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
		@if(menu.children !=null){
      			<dd>
			<ul>
				@for(children in menu.children){
				<li><a onclick="change_bg(this)" data-href="${ctxPath}${children.url}" data-title="${children.name}" href="javascript:void(0)">${children.name}</a></li>
				@}
			</ul>
		</dd>
      		@}
	</dl>
    @}
</div>
</aside>

<style type="text/css">
 
</style>
<script language="javascript" type="text/javascript">
var $c=function(array){
	var nArray = [];
	for (var i=0;i<array.length;i++) 
		nArray.push(array[i]);
		return nArray;
};

Array.prototype.each=function(func){
	for(var i=0,l=this.length;i<l;i++) {func(this[i],i);};
};

document.getElementsByClassName=function(cn){
	var hasClass=function(w,Name){
	var hasClass = false;
	w.className.split(' ').each(function(s){
	if (s == Name) hasClass = true;
	});
	return hasClass;
	}; 
	var elems =document.getElementsByTagName("*")||document.all;
   	var elemList = [];
   	$c(elems).each(function(e){
		if(hasClass(e,cn)){elemList.push(e);}
   })
  return $c(elemList);
};

function change_bg(obj){
	var a = document.getElementsByClassName("bk_2")[0].getElementsByTagName("a");
	for(var i=0;i<a.length;i++){
		a[i].className="";
		if(a[i] ==obj ){
			document.cookie="selectedMenu="+i;
		}
	}
	
	obj.className="current";
}
</script>
