@layout("/common/_container.html"){
<article class="page-container">
	<form class="form form-horizontal" id="lawHallInfoForm" onsubmit="return getContent();">
	<input type="hidden" value="" id="id" name="id">
	<input type="hidden" value="law_lecture_room" id="category" name="category">
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>标题：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="text" class="input-text" value="" id="title" name="title">
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>图片：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="file" class="input-text" id="imgFile" name="imgFile">
			<input type="hidden" class="input-text" id="imgUrl" name="imgUrl">
		</div>
	</div>
	<div class="row cl">
		<div class="formControls col-xs-8 col-sm-9">
			<img src="" style="height: 120px;width: 120px;padding-left: 250px;" id="img">
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>上传时间：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="text" class="input-text" value="${dateString}" disabled="disabled">
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>类型：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<select id="type" name="type" class="input-text">
				<option value="text">图文</option>
				<option value="video">视频</option>
			</select>
		</div>
	</div>
	<div id="video" style="display: none">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>播放量：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" id="num" name="num"/>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>视频文件上传：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="file" class="input-text" id="file"/>
			</div>
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>视频文件路径：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" id="videoUrl" name="videoUrl" readonly="readonly"/>
			</div>
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>内容：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<textarea style="display: none" id="content" name="content"></textarea>
	        <div id="editor" style="height: 400px; max-height: 500px;"></div>
        </div>
    </div>
	<div class="row cl">
		<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
			<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
		</div>
	</div>
	</form>
</article>
<script src="${ctxPath}/static/modular/fzsg/law_hall/law_hall_info.js"></script>
@}