@layout("/common/_container.html"){
<article class="page-container">
	<form class="form form-horizontal" id="lawHallInfoForm" onsubmit="return getContent();">
	<input type="hidden" value="${info.id}" id="id" name="id">
	<input type="hidden" value="law_lecture_room" id="category" name="category">
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>标题：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="text" class="input-text" value="${info.title}" id="title" name="title">
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>图片：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="file" class="input-text" id="imgUrlBtnId" name="imgUrlBtnId">
			<input type="hidden" class="input-text" value="${info.imgUrl}" id="imgUrl" name="imgUrl">
		</div>
	</div>
	<div class="row cl">
		<div class="formControls col-xs-8 col-sm-9">
			<img src="${info.imgUrl}" style="height: 120px;width: 120px;margin-left: 250px;" id="imgUrlPreId">
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>状态：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<select id="status" name="status" class="input-text">
				<option value="no_publish"
					@if(info.status=="no_publish"){
		        		selected="selected"
		        	@}
				>下架</option>
				<option value="publish"
					@if(info.status=="publish"){
		        		selected="selected"
		        	@}
				>上架</option>
			</select>
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>上传时间：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="text"
			onfocus="WdatePicker({ maxDate:'#F{$dp.$D(\'maxTime\')||\'%y-%M-%d\'}' })"
			id="createTime" name="createTime" class="input-text Wdate" value="${info.createTime}">
			
			<input type="hidden"
			onfocus="WdatePicker({ maxDate:'#F{$dp.$D(\'maxTime\')||\'%y-%M-%d\'}' })"
			id="maxTime" name="maxTime" class="input-text Wdate" value="${dateString}">
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>类型：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<select id="type" name="type" class="input-text">
				<option value="text"
					@if(info.type=="text"){
		        		selected="selected"
		        	@}
				>图文</option>
				<option value="video"
					@if(info.type=="video"){
		        		selected="selected"
		        	@}
				>视频</option>
			</select>
		</div>
	</div>
	<div id="video" style="display: none">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>播放量：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" id="num" name="num" value="${info.num}"/>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>视频文件上传：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="file" class="input-text" id="videoUrlBtnId"/>
			</div>
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>视频文件路径：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" id="videoUrl" name="videoUrl" value="${info.videoUrl}" readonly="readonly"/>
			</div>
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>内容：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<textarea style="display: none" id="content" name="content"></textarea>
	        <div id="editor" style="height: 400px; max-height: 500px;">${info.content}</div>
        </div>
     </div>
	<div class="row cl">
		<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
			<input class="btn btn-success radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
		</div>
	</div>
	</form>
</article>
<script src="${ctxPath}/static/modular/fzsg/law_hall/law_hall_info.js"></script>
@}