#layer {z-index: 100;}
.forest {position: relative;}
.forest .forestBg {position: absolute;width: 100%;height: auto;z-index: -1;}
.forest .forestBottom {position: absolute;width: 100%;height: auto;bottom: -2.2rem;left: 0;}

.forest .treeExp {position: absolute;left: 0;top: 7.1rem;width: 12rem;height: 4.9rem;background-color: #FFFFFF;border-bottom-right-radius: 50px;border-top-right-radius: 50px;z-index: 12;display: none;}
.forest .treeExp i {position: absolute;right: .4rem;top: 50%;transform: translateY(-50%);width: 3.9rem;height: 3.9rem;background-color: #22aa57;line-height: 3.9rem;text-align: center;color: #FFFFFF;border-radius: 50%;}
.forest .treeExp .treeCode {font-size: 1.15rem;line-height: 1.15rem;position: absolute;left: 1.2rem;top: 0.5rem;}
.forest .treeExp .treeExpNum {font-size: 1.15rem;line-height: 1.15rem;position: absolute;left: 1.2rem;top: 2.1rem;}
.forest .treeExp .treeExpBar {position: absolute;left: 1.2rem;bottom: .6rem;width: 5.3rem;height: 0.65rem;background-color: #dedede;border-radius: 5px;overflow: hidden;}
.forest .treeExp .treeExpBar em {position: absolute;left: 0;top: 0;border-radius: 5px;background-color: #22aa57;height: 100%;}

.forest .treesList {position: absolute;top: 13.7rem;left: 0;z-index: 12;display: none;}
.forest .treesList li {height: 4.3rem;margin-bottom: 1.2rem;position: relative;}
.forest .treesList li>img {position: absolute;z-index:10;width: 4.3rem;height: 4.3rem;z-index: 40;}
.forest .treesList li>p {position: absolute;bottom: 0;left: 2.15rem;background-color: #FFFFFF;padding-left: 2rem; width: 2.15rem;height: 1.2rem;line-height: 1.2rem;text-align: center;border-bottom-right-radius: 50px;border-top-right-radius: 50px;font-size: 1rem;}


.forest .treesList .swiper-container {position: absolute;left: 0;top: 50%;transform: translateY(-50%); height: 5.1rem;/*padding: 0 2.5rem 0 5rem;*/ background-color: #FFFFFF;border-radius: 50px;max-width: 95vw!important;z-index: 30;display: none;}
.forest .treesList .swiper-container .swiper-slide {width: 5rem!important;height: 100%;text-align: center;}
.forest .treesList .swiper-container .swiper-slide:first-child {margin-left: 5rem;}
.forest .treesList .swiper-container .swiper-slide:last-child {margin-right: 2.5rem;}
.forest .treesList .swiper-container .swiper-slide img {width: 2.7rem;height: 3.2rem;}

.tree_on {color: #22aa57!important;font-weight: bold!important;}

/*引导*/
.guideQuiz {position: absolute;bottom: -5.2rem;left: 50%;margin-left: 3.8rem;display: block;background: url(../images/guide.png) no-repeat;background-size: 100% 100%;width: 3.7rem;height: 2.6rem;z-index: 120;animation: guide 2s linear infinite;-webkit-animation: guide 2s linear infinite;}

.forest .treesList .guide1 {position: absolute;bottom: -1.2rem;left: 2rem;display: block;background: url(../images/guide1.png) no-repeat;background-size: 100% 100%;width: 2.9rem;height: 3.2rem;z-index: 120;animation: guide 2s linear infinite;-webkit-animation: guide 2s linear infinite;}
.forest .treesList .guide1Content {position: absolute;left: 8rem;bottom: -2.2rem;font-size: 1.8rem;width: 14.5rem; font-weight: bold;color: #FFFFFF;z-index: 110;}

.forest .guide2 {position: absolute;display: block;background: url(../images/guide2.png) no-repeat;background-size: 100% 100%;width: 3.7rem;height: 2.6rem;z-index: 120;animation: guide 2s linear infinite;-webkit-animation: guide 2s linear infinite;}
.forest .guide2Content {position: absolute;left: 1.5rem;right: 0; top: 11.1rem;font-size: 1.8rem;font-weight: bold;color: #FFFFFF;z-index: 110;}

.forest .guide3 {position: absolute;right: 5.7rem;top: 11.7rem; display: block;background: url(../images/guide3.png) no-repeat;background-size: 100% 100%;width: 2.7rem;height: 3.6rem;z-index: 120;animation: guide 2s linear infinite;-webkit-animation: guide 2s linear infinite;}
.forest .guide3Content {position: absolute;right: 3.1rem; top: 15.9rem;width: 18rem; font-size: 1.8rem;font-weight: bold;color: #FFFFFF;z-index: 110;text-align: center;}


.forest .otherGuide {position: absolute;left: 0;width: 100%;bottom: 10rem;z-index: 120;}
.forest .otherGuide p {font-size: 1.8rem;color: #FFFFFF;line-height: 3.5rem;text-align: center;}
.forest .otherGuide a {display: block;width: 8.9rem;height: 3.7rem;line-height: 3.7rem;border: 2px solid #22aa57;color: #22aa57;border-radius: 50px;text-align: center;margin: 2.2rem auto 0 auto;}

@keyframes guide
{
	0% {transform: translate(0%,0%);}
	50% {transform: translate(40%,40%);}
	100% {transform: translate(0%,0%);}
}

@-webkit-keyframes guide
{
	0% {transform: translate(0%,0%);}
	50% {transform: translate(40%,40%);}
	100% {transform: translate(0%,0%);}
}



.forest .sunshinePool {position: absolute;display: block; top: 7.1rem;right: 8.9rem; width: 4.2rem;height: 4.6rem;background: url(../images/sunshine1.png) no-repeat;background-size: 100% 100%; text-align: center;padding-top: 1.8rem;box-sizing: border-box;font-size: 1.1rem;color: #FFFFFF;z-index: 12;display: none;}
.forest .dropSunshine {position: absolute;display: block;top: 7.1rem;right:1.5rem;width: 4.2rem;height: 4.6rem;background: url(../images/sunshine2.png) no-repeat;background-size: 100% 100%;z-index: 12;display: none;}

.forest .strategy {position: absolute;display: block; bottom: -0.4rem;right: 1.7rem; width: 3.5rem;height: 4.2rem;background: url(../images/strategy.png) no-repeat;background-size: 100% 100%;z-index: 12;}
.forest .trends {position: absolute;display: block; bottom: 5.6rem;right: 1.7rem; width: 3.5rem;height: 4.2rem;background: url(../images/trends.png) no-repeat;background-size: 100% 100%;z-index: 12;}


.forest .tree {position: absolute;left: 50%;transform: translateX(-50%);display: none;z-index: 10;}
.forest .tree1 {width: 11.9rem;height: 8.9rem;bottom: 4.9rem;z-index: 10;}
.forest .tree2 {width: 7.8rem;height: 13.2rem;bottom: 3.5rem;z-index: 10;}
.forest .tree3 {width: 11.1rem;height: 22.6rem;bottom: 2.3rem;z-index: 10;}
.forest .tree4 {width: 17.3rem;height: 23.1rem;bottom: 2rem;z-index: 10;}
.forest .tree5 {width: 20.7rem;height: 26.7rem;bottom: 1.5rem;z-index: 10;}

.forest .treeShake {animation: treeShake 0.5s linear;-webkit-animation: treeShake 0.5s linear;}

@keyframes treeShake
{
	0% {left: 49.5%;}
	25% {left: 50.5%;}
	50% {left: 49.5%;}
	75% {left: 50.5%;}
	100% {left: 50%;}
}

@-webkit-keyframes treeShake
{
	0% {left: 49.5%;}
	25% {left: 50.5%;}
	50% {left: 49.5%;}
	75% {left: 50.5%;}
	100% {left: 50%;}
}


.forest .noTree {position: absolute;top: 13.8rem;left: 50%;transform: translateX(-50%); width: 23.65rem;height: 23.65rem;background: url(../images/notree.png) no-repeat;background-size: 100% 100%;box-sizing: border-box;padding-top: 8.9rem;text-align: center;font-size: 1.6rem;line-height: 3.1rem;display: none;}


.forest .sunshineZone {position: absolute;/*top: 12rem;*/top: 0;/*left: 4.3rem;*/left: 0;right: 0;bottom: 0;z-index: 11;display: none;}
.forest .sunshinePoint {position: absolute;text-align: center;width: 4.2rem;height: 6.2rem;animation: sunshine 2s linear infinite;-webkit-animation: sunshine 2s linear infinite;z-index: 11;}


@keyframes sunshine
{
	0% {transform: scale(1,1);}
	50% {transform: scale(1.1,1.1);}
	100% {transform: scale(1,1);}
}

@-webkit-keyframes sunshine
{
	0% {transform: scale(1,1);}
	50% {transform: scale(1.1,1.1);}
	100% {transform: scale(1,1);}
}

.forest .sunshinePoint img {width: 3.4rem;height: 3.4rem;}
.forest .sunshinePoint p {font-size: 1rem;}

.forest .quizSeeding {display: block;position: absolute;width: 11.2rem;height: 4rem;line-height: 4rem;text-align: center;font-size: 1.7rem;color: #1ba350;background-color: #FFFFFF;border-radius: 50px;left: 50%;transform: translateX(-50%);bottom: -4rem;box-shadow: 0 0 10px 2px #d1e4d9 inset,0 0 10px 3px #d1e4d9 ;}

.otherSeeds {height: 18rem;padding-top: 4rem;box-sizing: border-box;border-bottom: .5rem solid #f4f4f4;}

.seedTitle {height: 5rem;line-height: 5rem;padding: 0 1.5rem;}
.seedTitle h1 {float: left;color: #22aa57;}
.seedTitle a {float: right;color: #999999;}

#seedList {padding: 0 1.5rem; box-sizing: border-box;}
#seedList .swiper-slide {text-align: center;width: 5.5rem;margin-left: 2.2rem;}
#seedList .swiper-slide:first-child {margin: 0;}
#seedList .swiper-slide img {width: 5.5rem;height: 5.5rem;border-radius: 50%;margin-bottom: .4rem;border: 1px solid #E5E5E5;}
#seedList .swiper-slide p {overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}

#treeRank {}

.noRank {height: 20.4rem;padding-top: 7.7rem;box-sizing: border-box;text-align: center;display: none;}
.noRank img {width: 3.9rem;height: 3.4rem;margin-bottom: 1.1rem;}
.noRank p {font-size: 1.5rem;color: #666666;line-height: 2.3rem;}

#treeRank .certificate {position: absolute;left: 1.5rem;top: 0.2rem; padding-left: 2.4rem;height: 2.7rem;background: url(../images/certificate.png) no-repeat;background-size:2.4rem 2.7rem;background-position: left;width: 2.8rem;text-align: center;z-index: 10;}
#treeRank .certificate p {font-size: 1.1rem;}
#treeRank .certificate .certNum {font-size: 1rem;position: absolute;left: 2.5rem;bottom: 0;height: 1.2rem;line-height: 1.2rem;width: 2.7rem;text-align: center;border-bottom-right-radius: 50px;border-top-right-radius: 50px;background-color: #22aa57;color: #FFFFFF;}

#treeRank .swiper-pagination {top: 0!important;left: 50%!important;transform: translateX(-50%);width: 17.3rem; height: 3.1rem;line-height: 3.1rem; display: flex;display: -webkit-flex;border: 2px solid #22aa57;}
#treeRank .swiper-pagination .swiper-pagination-bullet {background:none!important;opacity: 1!important;flex: 1;height: 100%;margin: 0!important;border-radius: 0!important;}
#treeRank .swiper-pagination .swiper-pagination-bullet-active {background-color: #22aa57!important;color: #FFFFFF;}

#treeRank .swiper-slide {height: 10px}
#treeRank .swiper-slide-active {height: auto!important;}

#treeRank .treeTopThree {padding: 5rem 1.5rem 1.5rem 1.5rem;background-color: #FFFFFF;display: flex;display: -webkit-flex;justify-content: center;text-align: center;border-bottom: 1px solid #e7e7e7;display: none;}

.treeTopThree>div>h2 {overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.treeTopThree>div p {font-size: 1.2rem;color: #999999;}
.treeTopThree>div span {font-size: 1.1rem;color: #999999;}
.treeTopThree>div div {margin: 0 auto;position: relative;margin-bottom: .6rem;}
.treeTopThree>div div img {z-index: 10;}
.treeTopThree>div div p {width: 6.4rem;height: 1.8rem;font-size: 1.2rem;color: #FFFFFF;text-align: center;position: absolute;margin-left: -3.2rem;left: 50%;z-index: 20;}
.treeTopThree .tree-first {flex: 2;}
.treeTopThree .tree-first div {width: 10.9rem;height: 9rem;background: url(../images/first.png) no-repeat;background-size: 100% 100%;}
.treeTopThree .tree-first div img {width: 6.6rem;height: 6.6rem;position: absolute;top: 2rem;left: 2rem;border-radius: 50%;}
.treeTopThree .tree-first div p {background: url(../images/frame1.png) no-repeat;background-size: 100% 100%;bottom: -.5rem;}
.treeTopThree .tree-first h2 {font-size: 1.3rem;color: #FA3441;margin: .5rem 0 .3rem 0;}

.treeTopThree .tree-second {flex: 1;padding-top: 1.8rem;}
.treeTopThree .tree-second div {width: 5.8rem;height: 7.4rem;background: url(../images/second.png) no-repeat;background-size: 100% 100%;}
.treeTopThree .tree-second div img {width: 5.5rem;height: 5.5rem;position: absolute;top: 1.75rem;left: 0.15rem;border-radius: 50%;}
.treeTopThree .tree-second div p {background: url(../images/frame2.png) no-repeat;background-size: 100% 100%;bottom: -.8rem;}
.treeTopThree .tree-second h2 {font-size: 1.3rem;color: #99C3EB;margin: .5rem 0 .3rem 0;}

.treeTopThree .tree-third {flex: 1;padding-top: 1.8rem;}
.treeTopThree .tree-third div {width: 5.8rem;height: 7.4rem;background: url(../images/third.png) no-repeat;background-size: 100% 100%;}
.treeTopThree .tree-third div img {width: 5.5rem;height: 5.5rem;position: absolute;top: 1.75rem;left: 0.15rem;border-radius: 50%;}
.treeTopThree .tree-third div p {background: url(../images/frame3.png) no-repeat;background-size: 100% 100%;bottom: -.8rem;}
.treeTopThree .tree-third h2 {font-size: 1.3rem;color: #FF9760;margin: .5rem 0 .3rem 0;}

.treeRankList ul li {height: 6.5rem;border-bottom:1px solid #e7e7e7;position: relative;}
.treeRankList ul li i {font-size: 1.5rem;position: absolute;left: 1.5rem;line-height: 6.5rem;}
.treeRankList ul li img {width: 4.5rem;height: 4.5rem;border-radius: 50%; position: absolute;left: 3.8rem;top: 50%;transform: translateY(-50%);}
.treeRankList ul li h2 {position: absolute;left: 9.2rem;line-height: 1.4rem;top: 1.4rem;}
.treeRankList ul li span {position: absolute;left: 9.2rem;font-size: 1.1rem; line-height: 1.1rem;top: 3.9rem;color: #999999;}
.treeRankList ul li p {position: absolute;right: 1.5rem;font-size: 1.2rem; line-height: 6.5rem;}

.treeRankList .readMoreTree {display: block;height: 5rem;line-height: 5rem;text-align: center;font-size: 1.5rem;color: #333333;display: none;}

.treeTips {color: #22aa57;height: 5rem;line-height: 5rem;text-align: center;background-color: #f5f5f5;}



.otherZone {position: absolute;top: 15.2rem;right: 3.3rem; left: 8.7rem;padding: .6rem 1.3rem 2.1rem 1.3rem;border: 0.15rem solid #22aa57;border-radius: 10px;background-color: #FFFFFF;display: none;z-index: 10;animation: otherZone 4s linear infinite;-webkit-animation: otherZone 4s linear infinite;}
.otherZone p {overflow:hidden; text-overflow:ellipsis;display:-webkit-box; -webkit-box-orient:vertical;-webkit-line-clamp:3;word-break: break-all;}
.otherZone a {position: absolute;bottom: -2.4rem;left: 50%;transform: translateX(-50%);display: block;width: 7.7rem;height: 3.9rem;border-radius: 5px;line-height: 3.9rem;text-align: center;background-color: #22aa57;color: #FFFFFF;font-size: 1.7rem;font-weight: bold;}


.treeWords {position: absolute;left: 50%;margin-left: -1rem; width: 14.7rem;box-sizing: border-box; padding: 1rem;border: 0.15rem solid #22aa57;border-radius: 10px;background-color: #FFFFFF;display: none;z-index: 10;animation: otherZone 4s linear infinite;-webkit-animation: otherZone 4s linear infinite;}
.treeWords span {display:block;width:0;height: 0;border-width:1.15rem 1.15rem 0;border-style: solid;border-color:#22aa57 transparent transparent ;position: absolute;bottom: -1.15rem;left: 2.6rem;}
.treeWords span em {display:block;width:0;height: 0;border-width:1rem 1rem 0;border-style: solid;border-color:#FFFFFF transparent transparent ;position: absolute;bottom: 0.3rem;left: 50%;transform: translateX(-50%);}

@keyframes otherZone
{
	0% {transform: translateY(0%);}
	25% {transform: translateY(-2%);}
	50% {transform: translateY(2%);}
	75% {transform: translateY(-2%);}
	100% {transform: translateY(0%);}
}

@-webkit-keyframes otherZone
{
	0% {transform: translateY(0%);}
	25% {transform: translateY(-2%);}
	50% {transform: translateY(2%);}
	75% {transform: translateY(-2%);}
	100% {transform: translateY(0%);}
}



/*撒阳光*/

.dropSunShine {position: absolute;left: 0;right: 0;top: 0;bottom: 0;overflow: hidden;z-index: 50;}
.dropSunShine div {position: absolute;transform:translate(0%,-50%)}




.strategyPic {}
.strategyPic img {width: 100%;height: auto;}


/*阳光效果*/
.increase1 {position: absolute;font-size: 1.6rem;color: #f59420;font-weight: bold;top: 5.5rem;right: 8.9rem;z-index: 120;animation: increase1 1.5s linear forwards;-webkit-animation: increase1 1.5s linear forwards;}

@keyframes increase1
{
	from {top: 5.5rem;right: 8.9rem;opacity: 1;transform: scale(1,1);}
	to {top: 0;right: 3.4rem;opacity: 0;transform: scale(1.8,1.8);}
}

@keyframes increase1
{
	from {top: 5.5rem;right: 8.9rem;opacity: 1;transform: scale(1,1);}
	to {top: 0;right: 3.4rem;opacity: 0;transform: scale(1.8,1.8);}
}

.increase2 {position: absolute;font-size: 1.6rem;color: #22aa57;font-weight: bold;bottom: 10rem;left: 50%;margin-left: 5rem; z-index: 120;animation: increase2 1.5s linear forwards;-webkit-animation: increase2 1.5s linear forwards;}

@keyframes increase2
{
	from {bottom: 15rem;margin-left: 5rem;opacity: 1;transform: scale(1,1);}
	to {bottom: 21rem;margin-left: 11rem;opacity: 0;transform: scale(1.8,1.8);}
}

@keyframes increase2
{
	from {bottom: 15rem;margin-left: 5rem;opacity: 1;transform: scale(1,1);}
	to {bottom: 21rem;margin-left: 11rem;opacity: 0;transform: scale(1.8,1.8);}
}