body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,section,article,aside,header,footer,nav,dialog,figure,figcaption,hgroup { margin:0; padding:0; }
table { border-collapse:collapse; border-spacing:0; }
h1,h2,h3,h4,h5,h6 { font-weight:normal; font-size:100%; }
ul,ol,li { list-style:none; }
em,i,b { font-style:normal;font-weight: normal; }
img { border:0; }
input,button,img { vertical-align:middle; }
input:focus { outline:0; }
a {text-decoration:none;}
* { -webkit-tap-highlight-color:rgba(0,0,0,0); margin: 0;padding: 0;}
input,textarea,button {font-family: "微软雅黑";font-size: 1.4rem;}
select {background: none;font-size: 1.4rem;}
.clearfix:after { content: "." ; display: block ;height: 0 ;clear: both ;visibility: hidden ;}
#layer {position: fixed;top: 0;left: 0;right:0;bottom:0;z-index:80;background-color:#000000;-moz-opacity: 0.5;opacity:.50;filter: alpha(opacity=50);display: none;}

html {font-size: 56%;}
@media only screen and (min-width: 321px){
    html {
        font-size: 62.5%!important;
    }
}
@media only screen and (min-width: 401px){
    html {
        font-size: 72%!important;
    }
}
@media only screen and (min-width: 481px){
    html {
        font-size: 94%!important;
    }
}
@media only screen and (min-width: 561px){
    html {
        font-size: 109%!important;
    }
}
@media only screen and (min-width: 641px){
    html {
        font-size: 125%!important;
    }
}

body {font-family: "微软雅黑";font-size: 1.4rem;}

.loadingCover {position: fixed;left: 0;right: 0;top: 0;bottom: 0;background: url(../images/shareBg.jpg);background-size: cover;background-position: center center;z-index: 200;}
.loadingCover p {color: #FFFFFF;position: absolute;top: 50%;transform: translateY(-50%);left: 0;width: 100%;text-align: center;}


.toast {position: fixed;background-color: rgba(0,0,0,0.5);color: #FFFFFF;left: 50%;top: 50%;transform: translate(-50%,-50%);border-radius: 5px;padding: 1rem;z-index: 120;text-align: center;}
.praiseToast {position: fixed;background-color: #FFFFFF;font-size: 1.6rem;width: 23rem; left: 50%;top: 50%;transform: translate(-50%,-50%);border-radius: 5px;padding: 4.5rem 0;z-index: 120;text-align: center;}
.praiseToast p {line-height: 3rem;}
.waterToast {position: absolute;z-index: 200;color: #e9712f;animation: waterToast 2s linear forwards;-webkit-animation: waterToast 2s linear forwards;}

@keyframes waterToast
{
    form {transform: translateY(0) scale(1);opacity: 1;}
    to {transform: translateY(-200%) scale(1.2);opacity: 0;}
}

@-webkit-keyframes waterToast
{
    form {transform: translateY(0) scale(1);opacity: 1;}
    to {transform: translateY(-200%) scale(1.2);opacity: 0;}
}

.healthToast40,.healthToast10 {height: 2.4rem;position: fixed;top: 50%;left: 50%;transform: translate(-50%,-50%); animation: healthToast 2s linear forwards;-webkit-animation: healthToast 2s linear forwards;z-index: 200;}
.healthyToast40,.healthyToast10 {height: 10rem;position: fixed;top: 50%;left: 50%;transform: translate(-50%,-50%); animation: healthToast 2s linear forwards;-webkit-animation: healthToast 2s linear forwards;z-index: 200;}

@keyframes healthToast
{
    form {transform: translate(-50%,-50%) scale(1);opacity: 1;}
    to {transform: translate(-50%,-50%) scale(2);opacity: 0;}
}

@-webkit-keyframes healthToast
{
    form {transform: translate(-50%,-50%) scale(1);opacity: 1;}
    to {transform: translate(-50%,-50%) scale(2);opacity: 0;}
}


.answerPop {position: fixed;width: 33rem;border-radius: 5px;padding-bottom: 3rem;background-color: #FFFFFF;left: 50%;top: 50%;transform: translate(-50%,-50%);z-index: 90;display: none;}
.answerPop .closeBtn {display: block;width: 3.1rem;height: 3.1rem;background: url(../images/closeBtn.png);background-size: 100% 100%;position: absolute;right: -0.8rem;top: -1.1rem;}
.answerPop h1 {height: 5.5rem;background-color: #7db04b;color: #FFFFFF;line-height: 5.5rem;text-align: center;border-top-left-radius:5px;border-top-right-radius:5px; }


.answerPop .QACont {padding: 0 2.5rem;}
.answerPop .QACont .question {margin: 2.1rem 0;line-height: 2rem;font-size: 1.6rem;}
.answerPop .QACont ul li {height: 4.4rem;line-height: 4.4rem;background-color: #dde9df;border: 0.15rem solid #dde9df;font-size: 1.6rem;text-align: center;margin-top: 1.7rem;border-radius: 5px;position: relative;}
.answerPop .QACont ul .rightAns {background-color: #54935e;border-color: #54935e;color: #FFFFFF;}
.answerPop .QACont ul .wrongAns {background-color: #54935e;border-color: #bd3535;color: #FFFFFF;}
.answerPop .QACont ul li img {width: 2.6rem;position: absolute;right: 1rem;top: 50%;transform: translateY(-50%);}

.noOne {padding-top: 4rem;}
.noOne p {font-size: 1.45rem;line-height: 3.2rem;text-align: center}
.noOne a {display: block;width: 15rem;height: 4.5rem;line-height: 4.5rem;color: #FFFFFF; text-align: center;font-size: 1.7rem;font-weight: bold;background-image: url(../images/joinBgLine.png);background-size: cover;background-position: center center;background-repeat: no-repeat; background-color: #4c8e61;border-radius: 5px;margin: 4rem auto;}

.clockList {position: fixed;border-radius: 5px;width: 32rem;padding-top: 1.6rem;background-color: #FFFFFF;left: 50%;top: 50%;transform: translate(-50%,-50%);z-index: 90;text-align: center;display: none;}
.clockList .clockTitle {width: 25.1rem;margin-bottom: .5rem;}
.clockList .closeBtn {display: block;width: 3.1rem;height: 3.1rem;background: url(../images/closeBtn.png);background-size: 100% 100%;position: absolute;right: -0.8rem;top: -1.1rem;}
.clockList ul {display: flex;display: -webkit-flex;flex-wrap: wrap;}
.clockList ul li {width: 20%;position: relative;}
.clockList ul li div {width: 5rem;height: 5rem;border-radius: 50%;line-height: 5rem;text-align: center;margin: 0 auto 3rem auto;background-color: #d7e6c9;}
.clockList ul li p {position: absolute;font-size: 1.5rem;color: #54935e;top: 5.5rem;left: 50%;transform: translateX(-50%);}
.clockList .clockTip {width: 21rem;position: absolute;bottom: 1rem;right: 1.6rem;}


.healthClock {position: relative;background-color: #FFFFFF;}
.healthClock .homeTitle {width: 100%;}
.healthClock .bgImg1 {position: absolute;left: 0;top: 10.5rem;width: 8rem;}
.healthClock .bgImg2 {position: absolute;right: 0;top: 10.5rem;width: 8rem;}
.healthClock .clockNum {width: 15.6rem; height: 2.4rem;line-height: 2.4rem;color: #FFFFFF;font-size: 1.5rem;border-radius: 50px;background: -webkit-linear-gradient(left, #81b449 , #4c8e62);background: -o-linear-gradient(right, #81b449 , #4c8e62);background: -moz-linear-gradient(right, #81b449 , #4c8e62);background: linear-gradient(to right, #81b449 , #4c8e62);margin: 0 auto;text-align: center;}
.healthClock .expiryDate {font-size: 1.3rem;color: #4f9060;text-align: center;line-height: 1.3rem;margin: 1.1rem 0 2rem 0;}

.healthClock .hintBtn {position: absolute;right: 1.5rem;top: 1.5rem;width: 2.3rem;height: 2.3rem; background: url(../images/hint.png);background-size: 100% 100%;display: block;}

.joinBtn {display: block;width: 15rem;height: 4.5rem;line-height: 4.5rem;color: #FFFFFF; text-align: center;font-size: 1.7rem;font-weight: bold;background-image: url(../images/joinBgLine.png);background-size: cover;background-position: center center;background-repeat: no-repeat; background-color: #4c8e61;border-radius: 5px;margin: 0 auto 3rem auto;}

.healthLegend {padding: 0 1.5rem;position: relative;padding-bottom: 10.4rem;margin-bottom: 4.1rem;}
.healthLegend .waterFrame {position: relative;height: 36.3rem;border-radius: 5px;background-color: #d8e7c9;}
.healthLegend .waterFrame .water {position: absolute;bottom: .5rem;right: .5rem;width: 100%;height: 100%;background-image: url(../images/bigBgLine.png);background-size: cover;background-position: center center;background-repeat: no-repeat; background-color: #7db04b;border-radius: 5px;text-align: center;}

.healthLegend .waterFrame .water .drinking {width: 100%;height: 100%;box-sizing: border-box; padding-top: 1.6rem;position: relative;display: none;}
.healthLegend .waterFrame .water .drinking h1 {line-height: 1.4rem;color: #FFFFFF;text-align: center;}
.healthLegend .waterFrame .water .drinking .waterList {position: absolute;top: 5.8rem;left: 2rem;right: 2rem;}
.healthLegend .waterFrame .water .drinking .waterList li {width: 6.9rem;}
.healthLegend .waterFrame .water .drinking .waterList .waterListL {position: absolute;left: 0;top: 0;}
.healthLegend .waterFrame .water .drinking .waterList .waterListR {position: absolute;right: 0;top: 0;}
.healthLegend .waterFrame .water .drinking .waterList li a {display: block;width: 6.9rem;height: 6.9rem;border-radius: 50%;margin-bottom: 1.1rem;background-color: #FFFFFF;text-align: center;line-height: 6.9rem;}
.healthLegend .waterFrame .water .drinking .waterList li a img {pointer-events: none;width: 4.5rem;}
.healthLegend .waterFrame .water .drinking .drinkStatus {width: 11.8rem;display: block;margin: 2.5rem auto 0 auto;}
.healthLegend .waterFrame .water .drinking .shareForAass {display: block;position: absolute;bottom: 2.6rem;width:14.6rem;height: 4.1rem;text-align: center;line-height: 4.1rem;color: #FFFFFF;background-color: #4c8e61;font-size: 1.7rem;font-weight: bold;border: .2rem solid #FFFFFF;border-radius: 5px;left: 50%;transform: translateX(-50%); }

.healthLegend .waterFrame .water .drinking .waterList li .waterBtn img {animation: waterShake 3s linear infinite;-webkit-animation: waterShake 3s linear infinite;}
@keyframes waterShake
{
    0% {transform: rotate(-90deg)}
    25% {transform: rotate(0deg)}
    50% {transform: rotate(90deg)}
    75% {transform: rotate(0deg)}
    100% {transform: rotate(-90deg)}
}

@-webkit-keyframes waterShake
{
    0% {transform: rotate(-90deg)}
    25% {transform: rotate(0deg)}
    50% {transform: rotate(90deg)}
    75% {transform: rotate(0deg)}
    100% {transform: rotate(-90deg)}
}


.healthLegend .waterFrame .water .finished {width: 100%;height: 100%;box-sizing: border-box; padding-top: 2.3rem;display: none;}
.healthLegend .waterFrame .water .finished .finishedTitle {color: #FFFFFF;text-align: center;line-height: 2.6rem;font-size: 1.2rem;width: 11.4rem;}
.healthLegend .waterFrame .water .finished .personalTip {position: absolute;top: 8.3rem;left: 1.2rem;width: 13.6rem;}
.healthLegend .waterFrame .water .finished .healthTip {padding: 1.9rem 2.4rem 0 2.4rem;box-sizing: border-box;position: absolute;top:7.1rem;left: 11rem;right: 1.5rem;height: 25rem;border: .1rem solid #FFFFFF;border-radius: 5px; }
.healthLegend .waterFrame .water .finished .healthTip .tipTitle {width: 16.3rem;position: absolute;top: -4.5rem;left: 50%;transform: translateX(-50%) }
.healthLegend .waterFrame .water .finished .healthTip .shareBtn {display: block;width: 14.6rem;height: 4.1rem;line-height: 4.1rem;text-align: center;color: #FFFFFF;border: .2rem solid #FFFFFF; font-size: 1.7rem;font-weight: bold;background-color: #e8954c;position: absolute;bottom:2.2rem;left: 50%;transform: translateX(-50%); border-radius: 5px;}
.healthLegend .waterFrame .water .finished .healthTip .tipContent {font-size: 1.5rem;color: #FFFFFF;line-height: 2.5rem;text-align: left;}

.healthLegend .waterFrame .water .myPage {width: 100%;height: 100%;box-sizing: border-box; position: relative;}
.healthLegend .waterFrame .water .myPage .headImg {width: 6.3rem;height: 6.3rem;border-radius: 50%;border: .2rem solid #90bb64;position: absolute;left: 50%;transform: translateX(-50%);top: -3.55rem}
.healthLegend .waterFrame .water .myPage .personalTip {position: absolute;top: 5.9rem;left: 1.2rem;width: 13.6rem;}
.healthLegend .waterFrame .water .myPage .healthTip {padding: 1.9rem 2.4rem 0 2.4rem;box-sizing: border-box;position: absolute;top:5.5rem;left: 11rem;right: 1.5rem;height: 25rem;border: .1rem solid #FFFFFF;border-radius: 5px; }
.healthLegend .waterFrame .water .myPage .healthTip .tipTitle {width: 13.3rem;position: absolute;top: -3.5rem;left: 50%;transform: translateX(-50%) }
.healthLegend .waterFrame .water .myPage .healthTip .myTips {font-size: 1.5rem;color: #FFFFFF;line-height: 2.5rem;text-align: left;}
.healthLegend .waterFrame .water .myPage .healthTip .QRImg {width: 5.8rem;position: absolute;bottom: 3.7rem;left: 50%;transform: translateX(-50%);}
.healthLegend .waterFrame .water .myPage .healthTip .helpScan {font-size: 1.3rem;position: absolute;line-height: 1.3rem;bottom: 1.6rem;left: 0;right: 0;text-align: center;}

.healthLegend .waterFrame .water .myPage .healthTip .helpPraise {display: block;width: 14.6rem;height: 4.1rem;border: .2rem solid #FFFFFF;background-color: #e8954c;text-align: center;color: #FFFFFF;line-height: 4.1rem;font-size: 1.8rem;font-weight: bold;position: absolute;left: 50%;transform: translateX(-50%);bottom: 3rem;border-radius: 5px;}
.healthLegend .waterFrame .water .myPage .healthTip .hasPraise {background-color: #aaaaaa!important;}
.healthLegend .waterFrame .water .myPage .healthTip .myPlan {font-size: 1.5rem;position: absolute;line-height: 1.5rem;bottom: .8rem;left: 0;right: 0;text-align: center;}
.healthLegend .waterFrame .water .myPage .healthTip .myPlan a {color: #FFFFFF;text-decoration: underline;}

.healthLegend .healthValueFrame {position: absolute;left: 1.5rem;bottom:0; width: 10.6rem;height: 8.7rem; border-radius: 5px;background-color: #d8e7c9;}
.healthLegend .healthValueFrame .leftRope1 {position: absolute;left: 1rem;width: 1.9rem;height: 5.3rem; top: -3.5rem;display: block;background: url(../images/leftRope.png);background-size: 100% 100%;z-index: 10;}
.healthLegend .healthValueFrame .leftRope2 {position: absolute;right: 1.5rem;width: 1.9rem;height: 5.3rem; top: -3.5rem;display: block;background: url(../images/leftRope.png);background-size: 100% 100%;z-index: 10;}
.healthLegend .healthValueFrame .healthValue {position: absolute;bottom: .5rem;right: .5rem;width: 100%;height: 100%;padding-top: 1.4rem;box-sizing: border-box; background-image: url(../images/smallBgLine.png);background-size: cover;background-position: center center;background-repeat: no-repeat; background-color: #7db04b;border-radius: 5px;}
.healthLegend .healthValueFrame .healthValue h3 {font-size: 1.3rem;color: #FFFFFF;text-align: center;}
.healthLegend .healthValueFrame .healthValue p {position: absolute;width: 7rem;height: 3.3rem;line-height: 3.3rem;color: #e9712f;font-size: 1.7rem;text-align: center;background-color: #FFFFFF;border-radius: 5px;bottom: 1.5rem;left: 50%;transform: translateX(-50%);}


.healthLegend .totalDaysFrame {position: absolute;right: 1.5rem;bottom:0; width: 10.6rem;height: 8.7rem; border-radius: 5px;background-color: #d8e7c9;}
.healthLegend .totalDaysFrame .rightRope1 {position: absolute;left: 1rem;width: 1.9rem;height: 5.3rem; top: -3.5rem;display: block;background: url(../images/rightRope.png);background-size: 100% 100%;z-index: 10;}
.healthLegend .totalDaysFrame .rightRope2 {position: absolute;right: 1.5rem;width: 1.9rem;height: 5.3rem; top: -3.5rem;display: block;background: url(../images/rightRope.png);background-size: 100% 100%;z-index: 10;}
.healthLegend .totalDaysFrame .totalDays {position: absolute;bottom: .5rem;right: .5rem;width: 100%;height: 100%;padding-top: 1.4rem;box-sizing: border-box;background-image: url(../images/smallBgLine.png);background-size: cover;background-position: center center;background-repeat: no-repeat; background-color: #7db04b;border-radius: 5px;}
.healthLegend .totalDaysFrame .totalDays h3 {font-size: 1.3rem;color: #FFFFFF;text-align: center;}
.healthLegend .totalDaysFrame .totalDays p {position: absolute;width: 8rem; height: 3.3rem;line-height: 3.3rem;font-size: 1.7rem;text-align: center;bottom: 1.5rem;left: 50%;transform: translateX(-50%);color: #FFFFFF;}
.healthLegend .totalDaysFrame .totalDays p i {display: inline-block;width: 2.3rem;height: 100%;border-radius: 5px;background-color: #FFFFFF;text-align: center;color: #e9712f;margin-right: .7rem;}


#pageType2 {position: absolute;left: 0;right: 0;top: 3.2rem;bottom: 0;background: url(../images/shareBg.jpg);background-size: cover;background-position: center center;padding: 0 1.5rem;}
#pageType2 .headImg {border-radius: 50%;width: 6.2rem;height: 6.2rem;border:.2rem solid #FFFFFF;top: 11.4%;position: absolute; left: 50%;transform: translateX(-50%);}
#pageType2 .personalInfo {display: flex;display: -webkit-flex;color: #FFFFFF;height: 40.8%;}
#pageType2 .personalInfo li {flex: 1;text-align: center;position: relative;}
#pageType2 .personalInfo li div {position: absolute;bottom: 0;left: 0;width: 100%;}
#pageType2 .personalInfo li p {font-size: 3.6rem;}
#pageType2 .personalInfo li span {font-size: 1.2rem;}
#pageType2 .personalInfo .cumulativeDays p {font-size: 6.5rem;}
#pageType2 .healthTip {height: 25.9%;margin: 10.3% 0.7rem 0 0.7rem;background-color: #FFFFFF;border-radius: 10px;position: relative;padding: 4.2rem 2rem 0 2rem;box-sizing: border-box;}
#pageType2 .healthTip .healthTipTitle {width: 16.2rem;position: absolute;left: 50%;top: -3.8rem;transform: translateX(-50%);}
#pageType2 .healthTip .myTips {font-size: 1.5rem;color: #666666; }
#pageType2 .QRImg {position: absolute;left: 3.2rem;bottom: 2rem;height: 20%;}
#pageType2 .helpScan {position: absolute;left: 12.2rem;color: #FFFFFF;font-size: 1.8rem;line-height: 1.8rem;bottom: 4.6rem;font-weight: bold;}
#pageType2 .QRCont {font-size: 1.3rem;position: absolute;left: 12.2rem;bottom: 2.2rem;line-height: 1.3rem;}

.rankingList {}
.rankingList .rankTop {height: 8.3rem;border-bottom: 1px solid #dae9cc;top: 0;left: 0;z-index: 10;width: 100%;box-sizing: border-box;background-color: #e7f0dd;}
.rankingList .rankTop .rankTitle {height: 4.4rem;width:5.4rem;padding-left: 3.3rem;line-height: 4.4rem;background: url(../images/rank.png) no-repeat;background-size: 2.7rem 2.5rem;background-position: left center;color: #4b8e62;font-size: 1.8rem;margin: 0 auto;}

.rankingList .rankTop .searchFrame {height: 3rem;padding: 0 5rem 0 1.5rem;position: relative;}
.rankingList .rankTop .searchFrame .searchTxt {position: absolute;right: 1.5rem;line-height: 3rem;top: 0;color: #4b8e62;width: 3.5rem;text-align: right;}
.rankingList .rankTop .searchBar {height: 100%;border-radius: 50px;background-color: #FFFFFF;position: relative;overflow: hidden;box-sizing: border-box;}
.rankingList .rankTop .searchBar input {width: 100%;height: 100%;line-height: 3rem;border: none;color: #bbbbbb;background-color: transparent;padding-left: 3.3rem;box-sizing: border-box;}
.rankingList .rankTop .searchBar input::-webkit-input-placeholder {color: #bbbbbb;}
.rankingList .rankTop .searchBar input:-moz-placeholder {color: #bbbbbb;}
.rankingList .rankTop .searchBar input::-moz-placeholder {color: #bbbbbb;}
.rankingList .rankTop .searchBar input:-ms-input-placeholder {color: #bbbbbb;}
.rankingList .rankTop .searchBar em {position: absolute;display: block;top: 50%;transform: translateY(-50%);left: 0;width: 3rem;height: 3rem;background: url(../images/search.png) no-repeat;background-size: 1.7rem 1.7rem;background-position: center center;}

.rankingList .myRank {height: 9rem;background-color: #FFFFFF;border-bottom: 1rem solid #dae9cc;position: relative;}
.rankingList .rankNum {font-size: 2.1rem;color: #4e9060;position: absolute;left: 1.5rem;top: 50%;transform: translateY(-50%);}
.rankingList .rankNum img {width: 2.2rem;}
.rankingList .headImg {width: 4.9rem;height: 4.9rem;position: absolute;left: 6rem;border-radius: 50%;top: 50%;transform: translateY(-50%);}
.rankingList .rankInfo {position: absolute;left: 12rem;right: 13.5rem; top: 2.3rem;bottom: 2.3rem;}
.rankingList .rankInfo h2 {position: absolute;left: 0; top: 0;font-size: 1.6rem;width: 100%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.rankingList .rankInfo p {position: absolute;left: 0; bottom:0;font-size: 1.2rem;color: #666666;width: 100%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap; }
.rankingList .assistanceNum {position: absolute;right: 8.8rem;top: 50%;transform: translateY(-50%);font-size: 1.5rem;}
.rankingList .assistance {position: absolute;right: 1.5rem;top: 50%;transform: translateY(-50%);display: block; width: 4.4rem;height: 4.4rem;background-image: url(../images/assistance.png);background-size: 100% 100%;}
.rankingList .hasAssistance {background-image: url(../images/hasAssistance.png)!important;}

.rankingList ul {background-color: #FFFFFF;}
.rankingList ul li {height: 8.8rem;background-color: #FFFFFF;border-top: 1px solid #dae9cc;position: relative;}
.rankingList ul li:first-child {border: none;}


.rankBtn {position: absolute;right: 1.5rem;top: 1.5rem;width: 2.7rem;height: 2.7rem; background: url(../images/rank.png) no-repeat;background-position: center center; background-size: 2.7rem 2.5rem;display: block;}

.personalPage {margin-top: 4rem;}
.personalPage .waterFrame {height: 32.3rem;}
.personalPage .healthValueFrame {width: 19.7rem;}
.personalPage .healthValueFrame .healthValue .hvLeft {position: absolute;left: 1.8rem;top: 0; width: 7rem;height: 100%;padding-top:1.4rem;box-sizing: border-box;}
.personalPage .healthValueFrame .healthValue .hvRight {position: absolute;right: 1.8rem;top: 0;width: 7rem;height: 100%;padding-top:1.4rem;box-sizing: border-box;}

.makePicZone {position: absolute;left: 0;top: 0;width: 100%;display: none;z-index: 100;}
.makePicZone .saveHint {width: 100%; height: 3.2rem;line-height: 3.2rem;color: #FFFFFF;text-align: center; letter-spacing:1.4rem;background-color: #b2b2b2;}
.makePicZone  img {width: 100%;}



.signIn {position: absolute;top: 0;bottom: 0;left: 0;right: 0;overflow: auto;background: url(../images/signInBg.jpg) no-repeat;background-size: cover;background-position: center center;overflow-y: scroll;-webkit-overflow-scrolling: touch;}
.signIn .signScroll {position: relative;text-align: center;padding-bottom: 17.3rem;}
.signIn .signScroll .homeTitle {width: 100%;margin-bottom: 2.5rem;}
.signIn .signScroll .signInBg1 {position: absolute;right: 1.2rem;top: 16.8rem;width: 1.5rem;}
.signIn .signScroll .signInBg2 {position: absolute;left:1.2rem;top: 19.8rem;width: 1.5rem;}
.signIn .signScroll .signInBg1 img,.signIn .signScroll .signInBg2 img {width: 100%;margin-bottom: 9rem;}
.signIn .signScroll .bgImg3 {position: absolute;right: 0;top: 1.5rem;width: 8rem;}
.signIn .signScroll .bgImg4 {position: absolute;left: 0;bottom: 0;width: 11rem;}
.signIn .signScroll .bgImg5 {position: absolute;right: 0;bottom: 0;width: 11rem;}
.signIn .signScroll .rule,.signIn .signScroll .hintCont {width: 30.5rem;}
.signIn .signScroll .signInInfo {width: 28.1rem;margin: 4.3rem auto 0 auto;}
.signIn .signScroll .signInInfo select,.signIn .signScroll .signInInfo input {width: 100%;height: 4rem;background-color: #ecfdd2;border: .1rem solid #becc99;box-sizing: border-box;margin-bottom: 2rem;line-height: 4rem;color: #000000;padding-left: 1rem;}
.signIn .signScroll .signInInfo input::-webkit-input-placeholder {color: #C4C4C4;}
.signIn .signScroll .signInInfo input:-moz-placeholder {color: #C4C4C4;}
.signIn .signScroll .signInInfo input::-moz-placeholder {color: #C4C4C4;}
.signIn .signScroll .signInInfo input:-ms-input-placeholder {color: #C4C4C4;}
.signIn .signScroll .signInInfo .headUpLoad {width: 100%;height: 8.3rem;background-color: #ecfdd2;border: .1rem solid #becc99;box-sizing: border-box;margin-bottom: 2rem;position: relative;}
.signIn .signScroll .signInInfo .headUpLoad p {font-size: 1.5rem;line-height: 8.3rem;text-align: left;padding-left: 1rem;color: #C4C4C4;}
.signIn .signScroll .signInInfo .headUpLoad img {position: absolute;right: 3rem;top: 50%;transform: translateY(-50%);width: 6.1rem;border: .1rem solid #FFFFFF;border-radius: 50%;}

.signIn .signScroll .launchBtn {position: absolute; width: 28.1rem;height: 4rem;display: block;background-color: #8bba47;border: .1rem solid #becc99;font-size: 1.5rem;color: #FFFFFF;text-align: center;line-height: 4rem;box-sizing: border-box;left: 50%;transform: translateX(-50%);bottom: 8.9rem;}

.signIn .signScroll .checkRankList {display: block;position: absolute; font-size: 1.35rem;color: #789726;width: 9.8rem;text-align: center; left: 50%;transform: translateX(-50%);bottom: 5.3rem;}

#cropit {position: fixed;left: 0;right: 0;top: 0;bottom: 0;background-color: #FFFFFF;z-index: 10;padding: 3rem 3rem 0 3rem;visibility: hidden;box-sizing: border-box;}
#cropit .cropit-preview {background-color: #f8f8f8;}
#cropit .imgUpload {width: 100%;height: 3rem;border: 1px solid #2285CF;background-color: #FFFFFF;color: #2285CF;position: relative;border-radius: 5px;text-align: center;line-height: 3rem;margin-top: 1rem;box-sizing: border-box;overflow: hidden;}
#cropit .imgUpload input {position: absolute;left: 0;top: 0;width: 100%;height: 100%;opacity: 0;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter: alpha(opacity=0);}
#cropit .cropit-image-zoom-input {width: 100%;margin-top: 1rem;}
#cropit .rotateFrame {width: 100%;height: 3rem;margin-top: 1rem;display: flex;display: -webkit-flex;justify-content: space-between;}
#cropit .rotateFrame .rotate-ccw,#cropit .rotateFrame .rotate-cw {background-color: #FFFFFF; width: 48%;height: 100%; border: 1px solid #2285CF;color: #2285CF;border-radius: 5px;text-align: center;line-height: 3rem;box-sizing: border-box;}
#cropit .export,#cropit .cancelUpload {width: 100%;height: 3rem;border: 1px solid #2285CF;background-color: #FFFFFF;color: #2285CF;border-radius: 5px;text-align: center;line-height: 3rem;margin-top: 1rem;box-sizing: border-box;}


.activityEnd {margin: 5.2rem 2.1rem 2.5rem 2.1rem;padding: 4.1rem 1.6rem 2rem 1.6rem;position: relative;display: none;background-color: #f5f5f5;border-radius: 5px;}
.activityEnd .endBtn {display: block;width: 15rem;height: 4.5rem;line-height: 4.5rem;color: #FFFFFF; text-align: center;font-size: 1.7rem;font-weight: bold;background-image: url(../images/joinBgLine.png);background-size: cover;background-position: center center;background-repeat: no-repeat; background-color: #999999;border-radius: 5px;position: absolute;top: -2rem;left: 50%;transform: translateX(-50%);}
.activityEnd p {font-size: 1.6rem;color: #4f9060;line-height: 2.5rem;}

.hasEnd .assistance {display: none;}
.hasEnd .assistanceNum {right: 1.5rem!important;}