body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,section,article,aside,header,footer,nav,dialog,figure,figcaption,hgroup { margin:0; padding:0; }
table { border-collapse:collapse; border-spacing:0; }
h1,h2,h3,h4,h5,h6 { font-weight:normal; font-size:100%; }
ul,ol,li { list-style:none; }
em,i,b { font-style:normal;font-weight: normal; }
img { border:0; }
input,button,img { vertical-align:middle; }
input:focus { outline:0; }
a {text-decoration:none;}
* { -webkit-tap-highlight-color:rgba(0,0,0,0); margin: 0;padding: 0;}
input,textarea,button {font-family: "微软雅黑";font-size: 1.4rem;}
select {background: none;}
.clearfix:after { content: "." ; display: block ;height: 0 ;clear: both ;visibility: hidden ;}
#layer {position: fixed;top: 0;left: 0;right:0;bottom:0;z-index:30;background-color:#000000;-moz-opacity: 0.5;opacity:.50;filter: alpha(opacity=50);display: none;}

html {font-size: 56%;}
@media only screen and (min-width: 321px){
    html {
        font-size: 62.5%!important;
    }
}
@media only screen and (min-width: 401px){
    html {
        font-size: 72%!important;
    }
}
@media only screen and (min-width: 481px){
    html {
        font-size: 94%!important;
    }
}
@media only screen and (min-width: 561px){
    html {
        font-size: 109%!important;
    }
}
@media only screen and (min-width: 641px){
    html {
        font-size: 125%!important;
    }
}

body {font-family: "微软雅黑";font-size: 1.4rem;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.w {padding: 0 1.5rem;}
.toast {padding: 1rem 1rem;background-color: rgba(0,0,0,0.5);color: #FFFFFF;font-size: 1.6rem;position: fixed;left: 50%;top: 50%;transform: translate(-50%,-50%);border-radius: 10px;z-index: 150;}
.toastCheck {padding: 3rem 1rem 1rem 1rem;background-color: rgba(0,0,0,0.5);background-image: url(../images/toastCheck.png);background-repeat: no-repeat;background-size: 3rem 3rem;background-position: center top; color: #FFFFFF;font-size: 1.6rem;position: fixed;left: 50%;top: 50%;transform: translate(-50%,-50%);border-radius: 10px;z-index: 150;}
