@layout("/common/_container.html"){
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 内容管理 <span class="c-gray en">&gt;</span> 我是法官<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="text-c">
		主题：<input type="text" class="input-text" style="width:250px" id="title" name="title">
		<button type="button" class="btn btn-success" id="search" onclick="theme.search()"  ><i class="Hui-iconfont">&#xe665;</i> 查询</button>
	</div>
	<div class="cl pd-5 bg-1 bk-gray mt-20"> 
		<span class="l">
			<!-- <a href="javascript:;" onclick="theme.del_theme()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> -->
			<a href="javascript:;" onclick="theme.add_theme('新增我是法官','${ctxPath}/sg_theme/add_theme','700','800')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 新增我是法官</a>
		</span> 
	</div>
	<table id="themeTable" class="table table-border table-bordered table-bg">
		<thead>
			<tr>
			
			</tr>
		</thead>
	</table>
	
	
</div>
<!--底侧部分开始-->
		@include("/common/_footer.html"){}	
<!--底侧部分结束-->
<script src="${ctxPath}/static/modular/fzsg/sg_theme/theme_list.js"></script>
@}
