<!-- 虚拟用户列表 -->
@layout("/common/_container.html"){
<div class="page-container">
	<div class="text-c">
		
		协同账号：<input type="text" class="input-text enter" style="width:100px"  id="" name="loginName">
		账户名称：<input type="text" class="input-text enter" style="width:100px"  id="" name="userName">
		<button type="button" class="btn btn-success" id="search" onclick="sgUser.search()"  ><i class="Hui-iconfont">&#xe665;</i> 查询</button>
	</div>
	<table id="sgUserTable" class="table table-border table-bordered table-bg">
		<thead>
			<tr>
			
			</tr>
		</thead>
	</table>
	<div class="row cl">
		<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
			<input class="btn btn-success radius" type="button" onclick="sgUser.save()" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
		</div>
	</div>
</div>
<script src="${ctxPath}/static/modular/fzsg/user/dummy_user.js"></script>
@}
