@layout("/common/_container.html"){
<article class="page-container">
	<form class="form form-horizontal" id="userInfosForm">
	<input type="hidden" value="" id="id" name="id">
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>头像：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="file" id="headUrlBtnId" class="input-text">
			<input type="hidden" id="headUrl" name="headUrl"  value="" class="input-text">
		</div>
		<div class="formControls col-xs-8 col-sm-9">
			<img id="headUrlPreId" src="" style="width: 120px;height: 120px;margin-left: 135px;">
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>账户名称：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="text" id="userName" name="userName"  value="" class="input-text">
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>协同账号：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="text" id="loginName" name="loginName" value="" class="input-text">
		</div>
	</div>
	<div class="row cl">
		<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
			<input class="btn btn-success radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
		</div>
	</div>
	</form>
</article>
<script src="${ctxPath}/static/modular/fzsg/user/add_user.js"></script>
@}