@layout("/common/_container.html"){
<article class="cl pd-20">
	<form action="" method="post" class="form form-horizontal" id="form-article-add">
		<div id="tab-system" class="HuiTab">
			<div class="tabBar cl"><span>基本信息</span><span>发布资讯</span><span>法官动态</span></div>
			<input type="hidden" id="id" value="${id}" class="input-text">
			
			<div class="tabCon">
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>头像：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<img src="${info.headUrl}" style="width: 120px;height: 120px;">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>账户名称：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" id="website-Keywords" value="${info.userName}" class="input-text">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>协同账号：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" id="website-description" value="${info.loginName}" class="input-text">
					</div>
				</div>
			</div>
			
			
			
			<div class="tabCon">
				<div class="page-container">
					<div class="text-c">
						<input type="hidden" id="userId" name="userId" value="${id}" class="input-text">
						咨询标题：<input type="text" class="input-text" style="width:250px" id="" name="title">
						<button type="button" class="btn buttons" id="search" onclick="sgUserAsk.search()"  ><i class="Hui-iconfont">&#xe665;</i> 查询</button>
					</div>
					<table id="sgUserAskTable" class="table table-border table-bordered table-bg">
						<thead>
							<tr>
							
							</tr>
						</thead>
					</table>
					
				</div>
			</div>
			
			
			<div class="tabCon">
				<div class="page-container">
					<div class="text-c">
						
						及格次数：<span>${model.num}</span>
						平均分：<span>${model.avgScore}</span>
						最高分：<span>${model.maxScore}</span>
					</div>
					<table id="userThemeTable" class="table table-border table-bordered table-bg">
						<thead>
							<tr>
							
							</tr>
						</thead>
					</table>
					
					
				</div>
			</div>
			
			
			
		</div>
	</form>
</article>
<script src="${ctxPath}/static/modular/fzsg/user/user_detail.js"></script>
<script src="${ctxPath}/static/modular/fzsg/user/user_theme.js"></script>
@}
