body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,section,article,aside,header,footer,nav,dialog,figure,figcaption,hgroup { margin:0; padding:0; }
table { border-collapse:collapse; border-spacing:0; }
h1,h2,h3,h4,h5,h6 { font-weight:normal; font-size:100%; }
ul,ol,li { list-style:none; }
em,i,b { font-style:normal;font-weight: normal; }
img { border:0; }
input,button,img { vertical-align:middle; }
input:focus { outline:0; }
a {text-decoration:none;}
* { -webkit-tap-highlight-color:rgba(0,0,0,0); margin: 0;padding: 0;}
input,textarea,button {font-family: "微软雅黑";font-size: 1.4rem;}
select {background: none;}
.clearfix:after { content: "." ; display: block ;height: 0 ;clear: both ;visibility: hidden ;}
#layer {position: fixed;top: 0;left: 0;right:0;bottom:0;z-index:30;background-color:#000000;-moz-opacity: 0.5;opacity:.50;filter: alpha(opacity=50);display: none;}

html {font-size: 56%;}
@media only screen and (min-width: 321px){
    html {
        font-size: 62.5%!important;
    }
}
@media only screen and (min-width: 401px){
    html {
        font-size: 72%!important;
    }
}
@media only screen and (min-width: 481px){
    html {
        font-size: 94%!important;
    }
}
@media only screen and (min-width: 561px){
    html {
        font-size: 109%!important;
    }
}
@media only screen and (min-width: 641px){
    html {
        font-size: 125%!important;
    }
}

body {font-family: "微软雅黑";font-size: 1.4rem;color: #000000;}

.toast {position: fixed;background-color: rgba(0,0,0,0.5);color: #FFFFFF;left: 50%;top: 50%;transform: translate(-50%,-50%);border-radius: 5px;padding: 1rem;z-index: 120;text-align: center;}

.votePop {position: fixed;left: 50%;top: 50%;transform: translate(-50%,-50%); width: 20rem;background-color: #FFFFFF;border-radius: 5px;padding: 3.3rem 0 1.7rem 0;text-align: center;z-index: 50;display: none;}
.votePop p {font-size: 1.75rem;line-height: 1.75rem;margin-bottom: 1.5rem;}
.votePop a {display: block;margin: 2.7rem auto 0 auto;width: 5rem;height: 5rem;text-align: center;line-height: 5rem;background-color: #a1d06e;color: #FFFFFF;font-size: 1.75rem;font-weight: bold;border-radius: 50%;}

.jzTop {margin-bottom: 1rem;position: relative;}
.jzTop img {width: 100%;}
.jzTop .rulesLink {display: block;position: absolute;left: 0;bottom: 2.5rem;width: 5.9rem;height: 2rem;line-height: 2rem;color: #FFFFFF;font-size: 1.2rem;text-align: center;background-color: rgba(0,148,140,0.5)}

.countDown {width: 24rem;height: 7.7rem;background: url(../images/countDown.png);background-size: 100% 100%;position: relative;margin: 0 auto;}
.countDown .countDownNum {position: absolute;left: 2.7rem;top: 3.7rem; height: 3rem;line-height: 3rem;color: #00948c;font-size: 2.2rem;font-weight: bold;}
.countDown .countDownNum span {display: block;float: left;margin-left: 1.35rem;text-align: center;width: 3.4rem;}
.countDown .countDownNum span:first-child {margin: 0;}
/* .countDown .countDownNum span i {display: block;float: left;margin-left: 0.05rem;width: 1.65rem;text-align: center;} */

.searchFrame {padding: 0 1.5rem;margin-top: 1.5rem;left: 0;width: 100%;box-sizing: border-box;top: 0;z-index: 25;}
.searchFrame .searchBar {height: 3.7rem;border-radius: 5px;background-color: #FFFFFF;position: relative;overflow: hidden;box-sizing: border-box;box-shadow: #c7c7c7 0px 0px 10px 1px;}
.searchFrame .searchBar #searchForm {height: 100%;}
.searchFrame .searchBar #searchForm input::-webkit-search-cancel-button {display: none;}
.searchFrame .searchBar #searchForm input {width: 100%;height: 100%;border: none;color: #FFFFFF;background-color: transparent;padding-left: 1rem;color: #666666;}
.searchFrame .searchBar #searchForm input::-webkit-input-placeholder {color: #666666;}
.searchFrame .searchBar #searchForm input:-moz-placeholder {color: #666666;}
.searchFrame .searchBar #searchForm input::-moz-placeholder {color: #666666;}
.searchFrame .searchBar #searchForm input:-ms-input-placeholder {color: #666666;}
.searchFrame .searchBar em {position: absolute;display: block;top: 50%;transform: translateY(-50%);right: 1rem;width: 3.3rem;height: 3.3rem;background: url(../images/search.png) no-repeat;background-size: 1.7rem 1.7rem;background-position: center center;}

.opusList {padding: 0 1.5rem;margin-top: 2rem;box-sizing: border-box;}
.opusList ul li {height: 20.9rem;border-radius: 5px;box-shadow: #c7c7c7 0px 0px 10px 1px;position: relative;background-color: #FFFFFF;margin-top: 2rem;}
.opusList ul li:first-child {margin: 0!important;}
.opusList ul li .rankImg {position: absolute;left: -0.9rem;top: -1rem;z-index: 20;width: 2.2rem;height: 2rem;}
.opusList ul li .opusCode {position: absolute;left: 0;top: 0;background: url(../images/logoCover.png);background-size: 100% 100%; width: 6.5rem;height: 5.3rem;line-height: 3rem;font-size: 1.3rem;padding-left: .8rem;box-sizing: border-box;z-index: 10;}
/* .opusList ul li .opusLogo {height: 15.7rem;background-size: cover;background-position: center center;background-repeat: no-repeat;border-top-left-radius: 5px;border-top-right-radius: 5px;} */
.opusList ul li .opusLogo {height: 15.7rem;border-top-left-radius: 5px;border-top-right-radius: 5px;overflow: hidden;text-align: center;}
.opusList ul li .opusLogo img {height: 100%;width: auto;}
.opusList ul li .opusName {font-size: 1.6rem; position: absolute; left: 1.5rem;bottom: 0;line-height:5.2rem; }
.opusList ul li .opusAuthor {font-size: 0.95rem; line-height: 0.95rem;position: absolute; left: 1.5rem;bottom: 1rem;}
.opusList ul li .vote {position: absolute;right: 0;bottom: 1rem;width: 5.1rem;}
.opusList ul li .vote em {display: block;background: url(../images/praise_off.png);background-size: 100% 100%;width: 2.1rem;height: 1.8rem;margin: 0 auto;}
.opusList ul li .hasVote em {background-image: url(../images/praise_on.png)!important;}
.opusList ul li .vote p {font-size: 0.85rem;line-height: 0.85rem;margin-top: .7rem;text-align: center;}


/* 详情 */
.opusFrame {height: 60vh; overflow: hidden;position: relative;box-sizing: border-box;}
.opusDetail {position: relative;}
.opusDetail .opusDetailLogo {box-shadow: #c7c7c7 0px 2px 4px 1px;position: relative;height: 20rem;background-color: #FFFFFF;background-position: center center;background-size: auto 100%;background-repeat: no-repeat;}
/* .opusDetail .opusDetailLogo img {height: 100%; width: auto;position: absolute;left: 50%;transform: translateX(-50%);top: 0;} */
.opusDetail .opusDetailLogo .opusDetailCode {position: absolute;right: 2.7rem;bottom: -2.15rem; width: 4.3rem;height: 4.3rem;border-radius: 50%;text-align: center;line-height: 4.3rem;color: #FFFFFF;font-size: 2.4rem;background-color: #a1d06e;}
.opusDetail .opusInfo {padding: 2.4rem 3.2rem 0 2.1rem;}
.opusDetail .opusInfo div {padding-left: 2.8rem;position: relative;}
.opusDetail .opusInfo div img {width: 2.15rem;height: 2.15rem;position: absolute;left: 0;top: 0.25rem;}
.opusDetail .opusInfo .opusInfo1 {font-size: 2rem;line-height: 2.7rem;word-break: break-all;}
.opusDetail .opusInfo .opusInfo2 {line-height: 2.7rem;word-break: break-all;}
.opusDetail .opusInfo .opusInfo3 {line-height: 2.7rem;word-break: break-all;}
#blur {position: absolute;bottom: -1.5rem;left: 0;width: 100%; height:3rem;
    background-color: #f1ffe6;
    z-index: 10;
    filter: url(blur.svg#blur);
     -webkit-filter: blur(6px); /* Chrome, Opera */
-moz-filter: blur(6px);
 -ms-filter: blur(6px);   
     filter: blur(6px);
filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10, MakeShadow=false);}

.opusVote .readMore {position: absolute;color: #a1d06e;top: 0;right:3.2rem;}

.opusVote {height: 40vh;position: relative;padding-top: 6rem;box-sizing: border-box;}
.opusVote em {display: block;width: 7rem;height: 6.1rem;margin: 0 auto;background: url(../images/praiseL_off.png);background-size: 100% 100%;}
.opusVote .hasVote {background-image: url(../images/praiseL_on.png);}
.opusVote p {text-align: center;line-height: 1.4rem;margin-top: .8rem;}
.opusVote .goRank {position: absolute;line-height: 1.4rem;bottom: 1.5rem;left: 50%;transform: translateX(-50%);text-decoration: underline;color: #000000;}


.ruleImg img {width: 100%;}