@layout("/common/_container.html"){
<!--选择icon-->
	   
            <div class="modal-body">
            	<div class="simplelineicons">
           			<div class="row example-icon-list">    
					<div class="col-md-3 col-sm-4">
						<div class="example-icon-inner">
							<i class="Hui-iconfont">&#xe60c;</i><span class="sp" style="margin-left: 5px;">#xe60c;</span>
							
							<i class="Hui-iconfont">&#xe632;</i><span class="sp" style="margin-left: 5px;">#xe632;</span>
							
							<i class="Hui-iconfont">&#xe625;</i><span class="sp" style="margin-left: 5px;">#xe625;</span>
							
							<i class="Hui-iconfont">&#xe720;</i><span class="sp" style="margin-left: 5px;">#xe720;</span>
							
							<i class="Hui-iconfont">&#xe62e;</i><span class="sp" style="margin-left: 5px;">#xe62e;</span>
							
							<i class="Hui-iconfont">&#xe633;</i><span class="sp" style="margin-left: 5px;">#xe633;</span>
							
							
							<i class="Hui-iconfont">&#xe63c;</i><span class="sp" style="margin-left: 5px;">#xe63c;</span>
							
							<i class="Hui-iconfont">&#xe62c;</i><span class="sp" style="margin-left: 5px;">#xe62c;</span>
							
							<i class="Hui-iconfont">&#xe60d;</i><span class="sp" style="margin-left: 5px;">#xe60d;</span>
							
							<i class="Hui-iconfont">&#xe62d;</i><span class="sp" style="margin-left: 5px;">#xe62d;</span>
							
							<i class="Hui-iconfont">&#xe643;</i><span class="sp" style="margin-left: 5px;">#xe643;</span>
							
							<i class="Hui-iconfont">&#xe6c5;</i><span class="sp" style="margin-left: 5px;">#xe6c5;</span>
							
							
							<i class="Hui-iconfont">&#xe621;</i><span class="sp" style="margin-left: 5px;">#xe621;</span>
							
							<i class="Hui-iconfont">&#xe635;</i><span class="sp" style="margin-left: 5px;">#xe635;</span>
							
							<i class="Hui-iconfont">&#xe61e;</i><span class="sp" style="margin-left: 5px;">#xe61e;</span>
							
							<i class="Hui-iconfont">&#xe61a;</i><span class="sp" style="margin-left: 5px;">#xe61a;</span>
							
							<i class="Hui-iconfont">&#xe618;</i><span class="sp" style="margin-left: 5px;">#xe618;</span>
							
							<i class="Hui-iconfont">&#xe61c;</i><span class="sp" style="margin-left: 5px;">#xe61c;</span>
							
							
							<i class="Hui-iconfont">&#xe6c2;</i><span class="sp" style="margin-left: 5px;">#xe6c2;</span>
							
							<i class="Hui-iconfont">&#xe6bb;</i><span class="sp" style="margin-left: 5px;">#xe6bb;</span>
							
							<i class="Hui-iconfont">&#xe62f;</i><span class="sp" style="margin-left: 5px;">#xe62f;</span>
							
							<i class="Hui-iconfont">&#xe68a;</i><span class="sp" style="margin-left: 5px;">#xe68a;</span>
							
							<i class="Hui-iconfont">&#xe72d;</i><span class="sp" style="margin-left: 5px;">#xe72d;</span>
							
							<i class="Hui-iconfont">&#xe623;</i><span class="sp" style="margin-left: 5px;">#xe623;</span>
							
							
							<i class="Hui-iconfont">&#xe613;</i><span class="sp" style="margin-left: 5px;">#xe613;</span>
							
							<i class="Hui-iconfont">&#xe60f;</i><span class="sp" style="margin-left: 5px;">#xe60f;</span>
							
							<i class="Hui-iconfont">&#xe687;</i><span class="sp" style="margin-left: 5px;">#xe687;</span>
							
							<i class="Hui-iconfont">&#xe634;</i><span class="sp" style="margin-left: 5px;">#xe634;</span>
							
							<i class="Hui-iconfont">&#xe636;</i><span class="sp" style="margin-left: 5px;">#xe636;</span>
							
							<i class="Hui-iconfont">&#xe72b;</i><span class="sp" style="margin-left: 5px;">#xe72b;</span>
							
							
							<i class="Hui-iconfont">&#xe6b5;</i><span class="sp" style="margin-left: 5px;">#xe6b5;</span>
							
							<i class="Hui-iconfont">&#xe6cf;</i><span class="sp" style="margin-left: 5px;">#xe6cf;</span>
							
							<i class="Hui-iconfont">&#xe620;</i><span class="sp" style="margin-left: 5px;">#xe620;</span>
							
							<i class="Hui-iconfont">&#xe6b6;</i><span class="sp" style="margin-left: 5px;">#xe6b6;</span>
							
							<i class="Hui-iconfont">&#xe68c;</i><span class="sp" style="margin-left: 5px;">#xe68c;</span>
							
							<i class="Hui-iconfont">&#xe6c6;</i><span class="sp" style="margin-left: 5px;">#xe6c6;</span>
							
							
							<i class="Hui-iconfont">&#xe61d;</i><span class="sp" style="margin-left: 5px;">#xe61d;</span>
						</div>
						
					</div>
			      	
			  	</div>
        		</div>
            </div>
	    
<script src="${ctxPath}/static/modular/system/sys_menu/add_icon.js"></script>
@}