<!-- 菜单列表 -->
@layout("/common/_container.html"){
<nav class="breadcrumb">
<i class="Hui-iconfont">&#xe67f;</i> 
	首页 <span class="c-gray en">&gt;</span>
	@var menuWarpper = menukit.getMenuByCode("menu");
	@if(menuWarpper !=null){
		${menuWarpper.pname} <span class="c-gray en">&gt;</span> 
		${menuWarpper.name}
	@}
<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" >
	<i class="Hui-iconfont">&#xe68f;</i>
</a>
</nav>
<div class="page-container">
	<div class="text-c">
		菜单名称：<input type="text" class="input-text enter" style="width: 250px" id="name" name="name">
		层级：<input type="text" class="input-text enter" style="width: 250px" id="levels" name="levels">
		<button type="button" class="btn btn-success" id="search"
			onclick="sysMenu.search()">
			<i class="Hui-iconfont">&#xe665;</i> 查询
		</button>
	</div>
	<div class="cl pd-5 bg-1 bk-gray mt-20">
		<span class="l">
			@if(shiro.hasPermission("/sys_menu/del_menu")){
			<a href="javascript:;" onclick="sysMenu.delMenu()" class="btn btn-danger radius"><i
				class="Hui-iconfont">&#xe6e2;</i> 删除</a> 
			@}
			@if(shiro.hasPermission("/sys_menu/add_menu")){
			<a href="javascript:;" onclick="sysMenu.openAddMenu()"
			    class="btn btn-success radius"><i class="Hui-iconfont">&#xe600;</i>
				新增</a>
			@}
			@if(shiro.hasPermission("/sys_menu/edit_menu")){
			<a href="javascript:;" onclick="sysMenu.openChangeMenu()"
			    class="btn btn-success radius"><i class="Hui-iconfont">&#xe6df;</i>
				编辑</a>
			@}
		</span>
	</div>
	<table id="menuTable"
		class="table table-border table-bordered table-bg table-hover table-sort table-responsive">
	</table>
</div>
<!--底侧部分开始-->
@include("/common/_footer.html"){}
<!--底侧部分结束-->
<script src="${ctxPath}/static/modular/system/sys_menu/menu_list.js"></script>
@}
