@layout("/common/_container.html"){
<article class="page-container">
	<form class="form form-horizontal" id="bannerInfoForm">
	<input type="hidden" value="${info.id}" id="id" name="id">
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>banner标题：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="text" class="input-text" value="${info.title}" id="title" name="title">
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red"></span>链接地址：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="text" class="input-text" value="${info.name}" id="name" name="name" readonly="readonly">
			<input type="hidden" class="input-text" value="${info.sourceId}" id="sourceId" name="sourceId">
			<input type="hidden" class="input-text" value="${info.type}" id="type" name="type">
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red"></span>状态：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<select id="status" name="status" class="input-text">
				<option value=""
					@if(info.status==""||info.status==null){
		        		selected="selected"
		        	@}
					
				>未发布</option>
				<option value="publish"
					@if(info.status=="publish"){
		        		selected="selected"
		        	@}	
				>上架</option>
				<option value="no_publish"
					@if(info.status=="no_publish"){
		        		selected="selected"
		        	@}
				>下架</option>
			</select>
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red"></span>图片：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="hidden" class="input-text" value="${info.bannerImg}"  id="bannerImg" name="bannerImg">
			<input type="file" class="input-text"  id="file">
		</div>
	</div>
	<div class="row cl">
		<div class="formControls col-xs-8 col-sm-9">
			<img src="${info.bannerImg}" id="img" style="width: 500px;height: 250px;margin-left: 300px;">
		</div>
	</div>
	<div class="row cl">
		<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
			<input class="btn btn-success radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
		</div>
	</div>
	</form>
</article>
<script src="${ctxPath}/static/modular/fzsg/sg_banner/banner_info.js"></script>
@}