@layout("/common/_container.html"){
<article class="page-container">
	<form class="form form-horizontal" id="majorInfoForm">
	<input type="hidden" value="${info.id}" id="id" name="id">
	<input type="hidden" id="pid" name="pid" value="4">
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>名称：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="text" class="input-text" value="${info.name}"  id="name" name="name">
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>图标：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="file" id="imgBtnId" class="input-text">
			<input type="hidden" id="img" name="img"  value="${info.img}" class="input-text">
		</div>
		<div class="formControls col-xs-8 col-sm-9">
			<img id="imgPreId" src="${info.img}" style="width: 60px;height: 60px;margin-left: 205px;margin-top: 20px;">
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red"></span>备注：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<textarea rows="3" cols="50" id="tips" name="tips">${info.tips}</textarea>
		</div>
	</div>
	<div class="row cl">
		<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
			<input class="btn btn-success radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
		</div>
	</div>
	</form>
</article>
<script src="${ctxPath}/static/modular/fzsg/sg_major/major_info.js"></script>
@}