/* 问答详情 */
.questionDetail {padding: 1rem 1.5rem 5rem 1.5rem;position: relative;}
.questionDetail .questionTag {margin-bottom: 1rem;display: inline-block;padding: 0 .6rem;height: 2rem;line-height: 2rem;background-color: #f8dada;border-radius: 5px;font-size: 1.1rem;color: #666666;}
.questionDetail>h1 {font-size: 1.8rem;line-height: 2.8rem}
.questionDetail .questionInfo {font-size: 1.3rem;color: #999999;line-height: 1.3rem;margin: 1.2rem 0;}
.questionDetail .questionInfo i {color: #da4547}
.questionDetail div {}
.questionDetail div p {color: #666666;line-height: 2.5rem;}
.questionDetail div img {width: 100%;}
.questionDetail .questionData {font-size: 1.2rem;color: #999999;position: absolute;line-height: 5rem;bottom: 0;right:1.5rem;}

.commentList {}
.commentList h1 {height: 3.2rem;line-height: 3.2rem;background-color: #f8f8f8;padding-left: 1.5rem;font-size: 1.3rem;color: #666666;}
.commentList ul {padding: 0 1.5rem;}
.commentList ul li {padding: 6.7rem 0 1.7rem 0;border-top: 2px solid #efefef;position: relative;}
.commentList ul li:first-child {border: none;}
.commentList ul li .commentHead {width: 3.3rem;height: 3.3rem;border-radius: 50%;position: absolute;left: 0;top: 2rem;}
.commentList ul li .commentName {font-size: 1.3rem;color: #666666;line-height: 1.3rem;position: absolute; left: 4.2rem;top: 2rem;}
.commentList ul li .commentTime {font-size: 1.2rem;color: #999999;line-height: 1.2rem;position: absolute; left: 4.2rem;top: 4.1rem;}
.commentList ul li .commentNum {padding-left: 2.3rem;font-size: 1.3rem;color: #999999;position: absolute;right: 7.5rem;top: 2.4rem;line-height: 1.7rem;background: url(../images/commentNum.png) no-repeat;background-size: 1.7rem 1.7rem;background-position: left center;}
.commentList ul li .praiseNum {padding-left: 2.3rem;font-size: 1.3rem;color: #999999;position: absolute;right: 0rem;top: 2.4rem;line-height: 1.7rem;background: url(../images/commentPraise.png) no-repeat;background-size: 1.7rem 1.7rem;background-position: left center;}
.commentList ul li .commentCont p,.answerDetail .commentCont p {line-height: 2.3rem;}
.commentList ul li .commentCont img,.answerDetail .commentCont img {width: 100%;}


.questionBottom {position: fixed;bottom: 0;left: 0;width: 100%;height: 4.8rem;border-top: 1px solid #dddddd;background-color: #f4f4f4;display: flex;display: -webkit-flex;}
.questionBottom .questionFollow {flex: 1;background-color: #f4f4f4;font-size: 1.3rem;line-height: 1.3rem; padding-top: .6rem;text-align: center;}
.questionBottom .questionFollow img {height: 1.7rem;margin-bottom: .6rem;}
.questionBottom .questionComment {flex: 1;font-size: 1.7rem;color: #FFFFFF;line-height: 4.8rem;text-align: center;background-color: #da4547;}
.questionBottom .questionComment img {width: 1.7rem;margin-right: 1rem;vertical-align: -0.1rem;}


.answerDetail {padding: 6.7rem 1.5rem 1.7rem 1.5rem;position: relative;}
.answerDetail .commentHead {width: 3.3rem;height: 3.3rem;border-radius: 50%;position: absolute;left: 1.5;top: 2rem;}
.answerDetail .commentName {font-size: 1.3rem;color: #666666;line-height: 1.3rem;position: absolute; left: 5.7rem;top: 2rem;}
.answerDetail .commentTime {font-size: 1.2rem;color: #999999;line-height: 1.2rem;position: absolute; left: 5.7rem;top: 4.1rem;}
.answerDetail .commentNum {padding-left: 2.3rem;font-size: 1.3rem;color: #999999;position: absolute;right: 9rem;top: 2.4rem;line-height: 1.7rem;background: url(../images/commentNum.png) no-repeat;background-size: 1.7rem 1.7rem;background-position: left center;}
.answerDetail .praiseNum {padding-left: 2.3rem;font-size: 1.3rem;color: #999999;position: absolute;right: 1.5rem;top: 2.4rem;line-height: 1.7rem;background: url(../images/commentPraise.png) no-repeat;background-size: 1.7rem 1.7rem;background-position: left center;}


.noComment {display: none;}
.noComment p {height: 13.3rem;line-height: 13.3rem;color: #666666;text-align: center;}
.noComment a {display: block;width: 15.5rem;height: 4rem;line-height: 4rem;text-align: center;background-color: #da4547;color: #FFFFFF;font-size: 1.5rem;border-radius: 50px;margin: 0 auto;}
.noComment a img {width: 1.7rem;margin-right: .7rem;vertical-align: -0.2rem;}