*, body {
	padding: 0;
	margin: 0;
	font-size: 0;
}

body {
	padding-bottom: 1rem;
}

.himg_div {
	font-size: 0;
}

.himg {
	width: 100%;
	height: auto;
}

.gotest {
	height: 1.1rem;
	font-size: 0.3rem;
}

.jine {
	font-size: 0.26rem;
	margin-top: 0.04rem;
}

.s1 {
	color: #2fccab;
	font-size: 0.26rem;
}

.s2 {
	font-size: 0.2rem;
	text-decoration: line-through;
	margin-left: 0.1rem;
	color: #a2a2a2;
}

.dimg {
	width: 0.2rem;
	height: 0.19rem;
	margin-left: 0.4rem;
}

.s3 {
	font-size: 0.2rem;
	color: #c7c7c7;
	margin-left: 0.1rem;
}

.zic {
	float: left;
	margin-left: 0.3rem;
	margin-top: 0.15rem;
}
.zic>div{
	font-size: 0.3rem;
}
.testnow {
	float: right;
	margin-top: 0.28rem;
	margin-right: 0.3rem;
	width: 1.4rem;
	height: 0.5rem;
	font-size: 0.26rem;
	color: #fff;
	background-color: #e8c013;
	text-align: center;
	line-height: 0.5rem;
	border-radius: 4px;
}

.bline {
	height: 0.1rem;
	background-color: #f4f4f4;
}

.ttdetail {
	width: 6.90rem;
	margin: 0 auto;
	margin-top: 0.2rem;
	font-size: 0.26rem;
	letter-spacing: 0.01rem;
	line-height: 0.38rem;
}
.ttdetail p,.ttdetail span{
	font-size: 0.26rem;
}
.wxts{
	font-size: 0.26rem;
	text-align: center;
	margin-top: 0.4rem;
}
/*�ʴ����� */
.question {
	/*height: 2rem; 2017-7-21 zzy*/
	background-color: #f9f4f8;
	overflow: hidden; /*2017-7-21 zzy*/
}

.qs_div {
	margin-left: 0.3rem;
	margin-top: 0.6rem;
	float: left;
	line-height: 0.31rem;
}

.qs {
	width: 0.34rem;
	height: 0.31rem;
	float: left;
	margin-top: -0.03rem;
}

.huida {
	font-size: 0.18rem;
	margin-left: 0.1rem;
	color: #6ad4bc;
}

.qd {
	margin-left: 0.2rem;
	margin-top: 0.2rem;
	float: left;
}

.kua {
	width: 4.2rem;
	/*height: 1.2rem; 2017-7-21 zzy*/
	background-color: #fdf187;
	border: 0.04rem solid #f2e17c;
	border-radius: 4px;
	position: relative;
}

.kua_left>.rl {
	position: absolute;
	width: 0.15rem;
	height: 0.15rem;
	background-color: #fdf187;
	border: 0.04rem solid #f2e17c;
	left: 0;
	transform: rotate(-135deg);
	border-left-color: #fdf187;
	border-bottom-color: #fdf187;
	margin-left: -0.12rem;
	margin-top: 0.3rem;
}

.kua_right>.rl {
	position: absolute;
	width: 0.15rem;
	height: 0.15rem;
	background-color: #fdf187;
	border: 0.04rem solid #f2e17c;
	right: 0;
	transform: rotate(45deg);
	border-left-color: #fdf187;
	border-bottom-color: #fdf187;
	margin-right: -0.12rem;
	margin-top: 0.3rem;
}

.cont {
	font-size: 0.28rem;
	padding: 0.2rem;
	/*max-height: 0.6rem;  2017-7-21 zzy*/
	overflow: hidden;
}

.hih {
	float: right;
	right: 0.3rem;
	margin-right: 0.3rem;
	margin-top: 0.25rem;
}

.hih_left {
	float: left;
}

.riqi {
	position: absolute;
	right: 0;
	bottom: 0;
	font-size: 0.16rem;
	color: #d4c464;
	transform: scale(0.8);
}

.hih img, .hih_left img { 
	width: 0.8rem;
	height: 0.8rem;
}
.hisv{
	width: 0.8rem;
	height: 0.8rem;
	border-radius:0.4rem;
	overflow: hidden;
}

.nic {
	font-size: 0.02rem;
	text-align: center;
	color: #666666;
	max-width: 0.7rem; 
	height: 0.3rem;
	overflow: hidden;
}

.askd {
	text-align: right;
	margin-top: 0.05rem;
}

.askd>span {
	font-size: 0.2rem;
}

.askd>span:first-child {
	
}

.askd>span:nth-child(2) {
	margin-left: 0.1rem;
	color: #59d2b6;
}

.askd>span:nth-child(3) {
	margin-left: 0.4rem;
}

.askd>span:nth-child(4) {
	margin-left: 0.1rem;
	color: #59d2b6;
}

.answer {
	width: 6.90rem;
	margin: 0 auto;
}

.answerd {
	margin-top: 0.3rem;
	overflow: hidden;
	width: 100%; /*2017-7-21 zzy*/
}

.beanswerd {
	margin-top: 0.15rem;
	padding-bottom: 0.15rem;
	overflow: hidden;
	right: 0;
	background-color: #f1f9fc;
	width: 100%; /*2017-7-21 zzy*/
}

.beanswerd_content {
	margin-top: 0.15rem;
}

.dz {
	float: right;
	margin-right: 0.4rem;
	margin-top: 0.2rem;
}

.dz>img {
	width: 0.36rem;
	height: 0.32rem;
}

.dz>div {
	font-size: 0.24rem;
	color: #9c9c9c;
	margin-top: 0.2rem;
	text-align: center;
}

/** �������� */
/*.content_div {
	width: 100%; 
	position: fixed;
	bottom: 0;
	left: 0; 
}*/

.content_div {
	width: 7rem;
	margin: 0 auto;
	margin-top: 0.3rem;
}

.headdiv {
	overflow: hidden;
}

.headdiv img {
	width: 0.7rem;
	height: 0.7rem;
	
}
.hhdimg{
	width: 0.7rem;
	height: 0.7rem;
	border-radius:0.35rem;
	float: left;
	overflow: hidden;
}
.headdiv>span {
	font-size: 0.28rem;
}

.tname {
	float: left;
	margin-top: 0.1rem;
	margin-left: 0.2rem;
}

.tshij {
	float: right;
	margin-top: 0.1rem;
	color: #999999;
	transform: scale(0.8);
}

/*.contentt {
	font-size: 0.26rem;
	margin-top: 0.16rem;
	line-height: 0.36rem;
}*/
.contentt img{
	width:100%;
}
.contentt * {font-size: initial;}
/*.contentt p{
	font-size: 0.26rem;
	margin-top: 0.16rem;
	line-height: 0.36rem;
}*/
.bck_img {
	margin: 0 auto;
	width: 6.87rem;
	/*height: 3.4rem;*/
	margin-top: 0.3rem;
}

.bck_img>img {
	width: 6.87rem;
	/*height: 3.4rem;*/
	margin-bottom: .3rem;
}

.pinlun {
	font-size: 0.28rem;
	border-left: 3px solid #7ecef4;
	margin-top: 0.3rem;
	padding-left: 0.1rem;
}

.answeror {
	overflow: hidden;
	margin-top: 0.2rem;
	overflow: hidden;
}

.aor {
	width: 0.73rem;
	height: 0.73rem;
	float: left;
}

.aor>img {
	width: 0.73rem;
	height: 0.73rem;
}

.adate {
	float: left;
	margin-left: 0.2rem;
}

.adate>div:nth-child(1) {
	color: #2fccab;
	font-size: 0.26rem;
}

.adate>div:nth-child(2) {
	text-align: center;
	font-size: 0.26rem;
	color: #999999;
}

.xzz {
	float: right;
	margin-top: 0.2rem;
}

.i1, .i3 {
	width: 0.27rem;
	height: 0.28rem;
}

.i2 {
	font-size: 0.24rem;
	color: #999999;
	margin-left: 0.1rem;
	margin-right: 0.4rem;
}

.i4 {
	font-size: 0.24rem;
	color: #999999;
	margin-left: 0.1rem;
}

.aconts {
	font-size: 0.26rem;
	margin-top: 0.2rem;
}

.beansc {
	background-color: #f9f9f9;
	padding: 0.2rem;
	margin-top: 0.1rem;
}

.beansc>div {
	font-size: 0.24rem;
	color: #666666;
}

.beansc span {
	font-size: 0.24rem;
	color: #442509;
}

/**��Ƶ����*/
.media_title {
	font-size: 0.38rem;
}

.meddd {
	margin-top: 0.2rem;
}

.meddd>span {
	font-size: 0.24rem;
	color: #999999;
}

.meddd>span:nth-child(2) {
	margin-left: 0.7rem;
	margin-right: 0.1rem;
}

.meddd>span:nth-child(3) {
	color: #2fccab;
}

.gks {
	width: 0.3rem;
	height: 0.26rem;
}

.counselor {
	width: 7.5rem;
	height: 1.35rem;
	background-color: #f2fafe;
	margin-top: 0.2rem;
	position: relative;
}

.abst {
	position: absolute;
	padding: 0.03rem 0.2rem;
	background-color: #7ecef4;
	color: #fff;
	font-size: 12px;
	transform: scale(0.8);
	border-radius: 0.4rem;
	text-align: center;
	right: 0.1rem;
	margin-top: -0.1rem;
}

.ched {
	float: left;
	margin-left: 0.3rem;
	margin-top: 0.2rem;
}

.ched>img {
	width: 0.9rem;
	height: 0.9rem;
}

.ccname {
	font-size: 0.28rem !important;
	color: #687174 !important;
	margin-right: 0.05rem;
}

.ccont {
	margin-top: 0.2rem;
	float: left;
	margin-left: 0.05rem;
}

.ccont span {
	font-size: 0.24rem;
	color: #999999;
	margin-left: 0.1rem;
}

.cbitq {
	margin-top: 0.1rem;
}

.cbitq>span {
	padding: 0.01rem 0.2rem;
	border: 1px solid #ec6e7c;
	color: #ec6e7c;
	border-radius: 0.4rem;
	text-align: center;
}
/** �������� */
.atile {
	font-size: 0.38rem;
}

.arddd {
	margin-top: 0.2rem;
}

.arddd>span {
	font-size: 0.24rem;
	color: #999999;
}

.arddd>span:nth-child(2) {
	margin-left: 0.7rem;
	margin-right: 0.1rem;
}

.arddd>span:nth-child(4) {
	margin-left: 0.7rem;
	margin-right: 0.1rem;
}

.arddd>span:nth-child(5) {
	color: #2fccab;
}

.audios {
	width: 100%;
	height: 1.4rem;
}

.rtitle {
	height: 0.8rem;
	font-size: 0.3rem;
	line-height: 0.8rem;
	background-color: #2fccab;
	color: #fff;
	text-align: center;
}
.floor{ 
	/*position: fixed;
	top:0; 2017-7-21 zzy*/
	height: 1rem;
	background-color: rgba(0, 0, 0, 0.8);
	width:100%;
	/*z-index: 9999;*/
}
.floor a{
	font-size: 0.2rem;
    padding: 0.05rem 0.3rem;
    line-height: 0.5rem;
    background-color: #fdf288;
    color: #000;
    text-decoration: none;
    border-radius: 4px;
    float: right;
    margin-right: 0.2rem;
    margin-top: 0.18rem;
}
.floor p{
	font-size: 0.2rem;
    color: #e0e0e0;
    float: right;
    margin-right: 0.03rem;
    width: 0.2rem;
    height: 0.2rem;
    border: 1px solid;
    text-align: center;
    padding: 0;
    line-height: 0.15rem;
    border-radius: 0.1rem;
	
}
.more{
	font-size: 0.3rem;
	text-align: center;
	width: 100%;
	/*margin-top: 0.3rem;*/
	line-height: 0.8rem;
	background-color: #7ecef4;
	color:#fff;
	/*border-radius:6px;*/
	/*margin-bottom:0.3rem; 2017-7-21 zzy*/
	position: fixed;
	bottom: 0;
	left: 0;
}
.more > a{
	font-size: 0.3rem;
	color: #fff;
    text-decoration: none;
}
.fclose{
	float:left;
	margin-top: 0.4rem;
	margin-left:0.3rem;
}
.fclose>img{
	width:0.2rem;
	height: 0.2rem;
}
.flogo{
	float:left;
	margin-left: 0.3rem;
	margin-top:0.15rem;
}
.flogo>img{
	width:0.7rem;
	height: 0.7rem;
}
.yanzi{
	    float: left;
    font-size: 0.24rem;
    color: #fff;
    line-height: 1rem;
    margin-left: 0.2rem;
}