/* 连载文章 */
.serializeArticleCover {height: 19rem;position: relative;background-size: cover;background-position: center center;}
.serializeArticleCover div {position: absolute;bottom: 0;left: 0;width: 100%;height: 3.6rem;background-color: rgba(0, 0, 0, 0.3)}
.serializeArticleCover div p {position: absolute;line-height: 3.6rem;top: 0;color: #FFFFFF;padding-left: 2.2rem;background-size: 1.7rem 1.7rem;background-repeat: no-repeat;background-position: left center;}
.serializeArticleCover div .readNum {left: 3.4rem;background-image: url(../images/readIcon.png);}
.serializeArticleCover div .praiseNum {right: 3.4rem;background-image: url(../images/praiseIcon.png);}

.serializeArticleDetail {padding: 1.2rem 1.5rem 1.8rem 1.5rem}
.serializeArticleDetail h1 {font-size: 2rem;line-height: 3.3rem;text-align: center;}
.serializeArticleDetail span {display: block;line-height: 5rem;font-size: 1.5rem;color: #666666;text-align: center;}
.serializeArticleDetail>a {display: block;width: 10.9rem;height: 3.9rem;font-size: 1.6rem;text-align: center;line-height: 3.9rem;color: #da4547;border: 2px solid #da4547;border-radius: 50px;margin: 0 auto 2.2rem auto;}
.serializeArticleDetail div {padding-bottom: 3rem;position: relative;}
.serializeArticleDetail div p {font-size: 1.5rem;line-height: 2.9rem;}
.serializeArticleDetail div .retract {overflow:hidden; text-overflow:ellipsis;display:-webkit-box; -webkit-box-orient:vertical;-webkit-line-clamp:4;}
.serializeArticleDetail div p i {font-weight: bold;}
.serializeArticleDetail div a {position: absolute;bottom: 0;right: 0;color: #da4547;font-size: 1.5rem;}


.serializeList {background-color: #FFFFFF;width: 100%;}
.serializeList h1 {height: 5.3rem; line-height: 5.3rem;font-size: 1.5rem;font-weight: bold; padding-left: 3.2rem;position: relative;background-color: #f5f5f5;}
.serializeList h1 em {display: block;width: .25rem;height: 1.5rem;position: absolute;left: 2rem;top: 50%;transform: translateY(-50%);background-color: #da4547;}
.serializeList h1 a {display: block;width: 8rem;height: 2.9rem;line-height: 2.9rem;text-align: center;border: 2px solid #cccccc;font-size: 1.3rem;color: #666666;position: absolute;right: 1.5rem;top: 50%;transform: translateY(-50%);border-radius: 50px;}
.serializeList ul {border-bottom: 2px solid #eeeeee;}
.serializeList ul li {height: 8.5rem;border-top: 2px solid #eeeeee;position: relative;padding: 1.9rem 2rem 0 2rem;box-sizing: border-box;}
.serializeList ul li:first-child {border: none;}
.serializeList ul li h2 {font-size: 1.7rem; overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.serializeList ul li .sl-date {position: absolute;left: 2rem;bottom: 1.4rem;color: #999999;}
.serializeList ul li .sl-read {position: absolute;right: 2rem;bottom: 1.4rem;color: #999999;padding-left: 2.2rem;background: url(../images/readNum.png) no-repeat;background-size: 1.7rem 1.7rem;background-position: left center;}

.articleLock h2 {color: #999999;}


/* 连载文章详情 */
.serializeArticle {padding: 1.7rem 2.4rem 2.3rem 2.4rem;}
.serializeArticle .serializeArticleTitle {text-align: center;font-size: 2rem;font-weight: bold;line-height: 3.5rem;}
.serializeArticle .serializeArticleDate {text-align: center;color: #999999;line-height: 1.4rem;margin: 1rem 0 1.8rem 0;}
.serializeArticle .serializeArticleCont {font-size: 1.5rem;line-height: 3.1rem;word-break: break-all;overflow: hidden;}
.serializeArticle .serializeArticleCont img {width: 100%;}
.serializeArticle .prevNext {position: relative;margin-top: 3.5rem;}
.serializeArticle .prevNext a {position: absolute;top: 0;font-size: 1.5rem;color: #da4547;}
.serializeArticle .prevNext .serializeArticlePrev {left: 0;}
.serializeArticle .prevNext .serializeArticleNext {right: 0;}

.serializeBottom {position: fixed;bottom: 0;left: 0;width: 100%;height: 5.3rem;background-color: #f5f5f5;display: flex;display: -webkit-flex;}
.serializeBottom a {flex: 1;text-align: center;}
.serializeBottom a span {padding-left: 2.7rem;line-height: 5.3rem;color: #999999;background-size: 1.7rem 1.7rem;background-position: left center;background-repeat: no-repeat;}
.serializeBottom .sb-listBtn span {color: #333333;font-size: 1.5rem;background-image: url(../images/serializeList.png);}
.serializeBottom .sb-read span {background-image: url(../images/readNum.png);}
.serializeBottom .sb-praise span {background-image: url(../images/commentPraise.png);}


.sl-pop {position: fixed;bottom: -45.2rem;z-index: 100;}
.sl-pop ul {height: 34.7rem;overflow: auto;}
.sl-pop .close-sl {display: block; height: 5rem;line-height: 5rem;text-align: center;font-size: 1.5rem;}