/* 咨询室详情 */
#counselingRoomBanner {height: 17.5rem;}
#counselingRoomBanner .swiper-wrapper .swiper-slide {background-size: cover;background-position: center;}
#counselingRoomBanner .swiper-pagination-bullet-active {background-color: #da4547;}

.roomDetail .roomInfo {padding: 0 1.5rem;background-color: #FFFFFF;padding-bottom: .8rem;}
.roomDetail .roomInfo h1 {font-size: 1.7rem;line-height: 5.2rem;}
.roomDetail .roomInfo p {font-size: 1.3rem;color: #999999;margin-bottom: 1rem;}
.roomDetail .roomInfo p img {width: 1.3rem;margin-right: .5rem;vertical-align: -0.1rem;}
.roomDetail .roomCondition {padding: 0 1.5rem;background-color: #f5f5f5;height: 7.2rem;}
.roomDetail .roomCondition ul {height: 100%;display: flex;}
.roomDetail .roomCondition ul li {height: 100%;text-align: center;padding-top: 1.2rem;box-sizing: border-box;width: 6rem;}
.roomDetail .roomCondition ul li img {width: 2.2rem;}
.roomDetail .roomCondition ul li p {font-size: 1.2rem;color: #666666;margin-top: .8rem;}

.counselingTitle {height: 4.7rem; line-height: 4.7rem;font-size: 1.6rem;padding-left: 2.8rem;position: relative;}
.counselingTitle em {display: block;width: .25rem;height: 1.5rem;position: absolute;left: 1.5rem;top: 50%;transform: translateY(-50%);background-color: #da4547;}

.counselorsOnDuty {padding: 0 1.5rem;}
.counselorsOnDuty ul {}
.counselorsOnDuty ul li {height: 13rem;background-color: #FFFFFF;border-radius: 10px;position: relative;box-shadow: 0px 0px 6px 2px #eaeaea;margin-top: 1.5rem;}
.counselorsOnDuty ul li:first-child {margin: 0;}
.counselorsOnDuty ul li .counselorHead {position: absolute;left: 1.5rem;top: 2rem;width: 6.2rem;height: 6.2rem;border-radius: 50%;}
.counselorsOnDuty ul li .counselorName {position: absolute;left: 8.8rem;top: 2.2rem;font-size: 1.6rem;line-height: 1.6rem;}
.counselorsOnDuty ul li .counselorName span {font-size: 1.2rem;color: #666666;margin-left: 1rem;}
.counselorsOnDuty ul li .counselorTag {position: absolute;top: 5.6rem;left: 8.8rem;}
.counselorsOnDuty ul li .counselorTag span {display: block;float: left;padding: 0 .8rem;height: 2rem;line-height: 2rem;border: 1px solid #c9c9c9;color: #c9c9c9;font-size: 1.2rem;border-radius: 50px;margin-right: 1rem;}
.counselorsOnDuty ul li .counselorInfo {position: absolute;left: 2rem;right: 2rem;bottom: 1.8rem;display: flex;display: -webkit-flex;justify-content: space-between;}
.counselorsOnDuty ul li .counselorInfo p {font-size: 1.1rem;color: #999999;padding-left: 1.7rem;background-size: 1.3rem 1.3rem;background-position: left center;background-repeat: no-repeat;}
.counselorsOnDuty ul li .counselorInfo .counselorInfo1 {background-image: url(../images/counselorInfo1.png)}
.counselorsOnDuty ul li .counselorInfo .counselorInfo2 {background-image: url(../images/counselorInfo2.png)}
.counselorsOnDuty ul li .counselorInfo .counselorInfo3 {background-image: url(../images/counselorInfo3.png)}
.counselorsOnDuty ul li .counselorInfo .counselorInfo4 {background-image: url(../images/counselorInfo4.png)}
.orderRoom {position: fixed;left: 0;bottom: 0;width: 100%;height: 4.8rem;line-height: 4.8rem;text-align: center;color: #FFFFFF;background-color: #da4547;font-size: 1.7rem;}



/*咨询师个人主页*/
.counselorHome {padding: 1.6rem 2rem 3.7rem 2rem;position: relative;}
.counselorHome .counselorBg {position: absolute;top: 0;left: 0;bottom: 0;right: 0; background-size: cover;background-repeat: no-repeat; background-position: center center;filter: url(blur.svg#blur);-webkit-filter: blur(30px);-moz-filter: blur(30px);-ms-filter: blur(30px);filter: blur(30px);-o-filter: blur(30px);filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=30, MakeShadow=false);}
.counselorHome .counselorLayer {position: absolute;top: 0;left: 0;right:0;bottom:0;background-color:#000000;-moz-opacity: 0.5;opacity:.50;filter: alpha(opacity=50);}
.counselorHome .counselorName {position: absolute;bottom: 0;right: 4rem;font-size: 1.6rem;color: #333333;border-top-left-radius: 50px;border-bottom-left-radius: 50px;padding: 0 4rem 0 1rem;line-height: 3rem;background-color: #FFFFFF;z-index: 1;white-space: nowrap;}
.counselorHome .counselorName img {width: 2.8rem}
.counselorHome .counselorData {display: flex;display: -webkit-flex;justify-content: center;height: 12rem;}
.counselorHome .counselorData .cd-left,.counselorHome .counselorData .cd-right {flex: 1;text-align: center;position: relative}
.counselorHome .counselorData .cd-center {flex: 2;text-align: center;position: relative;}
.counselorHome .counselorData .cd-center .cd-img {display: inline-block;position: relative;width: 8rem;height: 8rem;}
.counselorHome .counselorData .cd-center .cd-img .cd-headImg {width: 7.6rem;height: 7.6rem;border: .2rem solid #FFFFFF;border-radius: 50%;position: absolute;left: 0;z-index: 2;}
.counselorHome .counselorData .cd-center .cd-img .cd-sex {position: absolute;width: 2rem;height: 2rem;bottom: .2rem;right: -0.2rem;z-index: 3;}
.counselorHome .counselorData>div p {position: absolute;bottom: 0;left: 0;width: 100%;font-size: 1.5rem;color: #FFFFFF;}

.counselorHome .beGoodAt {width: 28.9rem;padding: 1.8rem .9rem 0.4rem .9rem;box-sizing: border-box;border-radius: 10px;background-color: rgba(106,111,109,0.5);margin:4.3rem auto 0 auto;position: relative;}
.counselorHome .beGoodAt:before {content: "擅长领域";display: block;position: absolute;text-align: center; width: 8.5rem; height: 2.2rem;line-height: 3rem; top: -2.2rem;left: 50%;transform: translateX(-50%);border-top-left-radius: 10px;border-top-right-radius: 10px;font-weight: bold;color: #FFFFFF;background-color: rgba(106,111,109,0.5);}

.counselorHome .beGoodAt ul {display: flex;display: -webkit-flex;flex-wrap: wrap;}
.counselorHome .beGoodAt ul li {width: 33.3%;padding: 0 0.75rem;box-sizing: border-box;margin-bottom: 1rem;}
.counselorHome .beGoodAt ul li p {text-align: center;border: 1px solid #FFFFFF;height: 2.6rem;color: #FFFFFF;font-size: 1.3rem;line-height: 2.6rem;border-radius: 50px;}

.counselorDetail {position: relative;background-color: #f3f3f3;padding: 0 1rem;}
.counselorDetail .noData {color: #666666;text-align: center;line-height: 1.4rem;padding-top: 2.5rem;}
.counselorDetail .checkMore {position: absolute;bottom: 2rem;left: 50%;transform: translateX(-50%);line-height: 1.4rem;color: #e8c013;}



.counselorDetail dl {transform: translateY(-1.6rem)}
.counselorDetail dl dd {position: relative;margin-top: 2.2rem;background-color: #FFFFFF;border-radius: 10px;}
.counselorDetail dl dd:first-child {margin: 0;}
.counselorDetail dl dd .counselingTitle {height: 4.5rem;line-height: 4.5rem;padding-left: 2.2rem;}
.counselorDetail dl dd .counselingTitle em {left: 1rem;}
.counselorDetail dl dd .counselingTitle a {position: absolute;right: 1rem;font-size: 1.3rem;color: #666666;}

#counselingSchedule {padding-top: 4.8rem;box-sizing: border-box;}
#counselingSchedule .swiper-pagination {top: 0;bottom: auto!important;height: 4.8rem;display: flex;display: -webkit-flex;background-color: #f5f5f5;}
#counselingSchedule .swiper-pagination .swiper-pagination-bullet {flex: 1;text-align: center; opacity: 1;background: none;height: 100%;line-height: 4.8rem;font-size: 1.5rem;color: #333333;position: relative;}
#counselingSchedule .swiper-pagination .swiper-pagination-bullet em {position: absolute;bottom: .2rem;left: 50%;transform: translateX(-50%); width: 6.3rem;height: .2rem;background-color: #da4547; display: none;}
#counselingSchedule .swiper-pagination .swiper-pagination-bullet-active {color: #da4547;}
#counselingSchedule .swiper-pagination .swiper-pagination-bullet-active em {display: block;}
#counselingSchedule .swiper-slide {}


#counselingSchedule .swiper-slide .timeScale {height: 3.7rem;border-bottom: 1px solid #777777;position: relative;}
#counselingSchedule .swiper-slide .timeScale .scaleTitle {position: absolute;width: 4.9rem;padding-left: 1rem;box-sizing: border-box;font-size: 1.2rem;line-height: 1.2rem;left: 0; bottom: 1rem;}
#counselingSchedule .swiper-slide .timeScale .scaleLine {display: flex;display: -webkit-flex;position: absolute;left: 4.9rem;right: 1.3rem;bottom: 0;}
#counselingSchedule .swiper-slide .timeScale .scaleLine .bigScale {flex: 1;display: flex;display: -webkit-flex;height: .6rem;border-right: 1px solid #777777;position: relative;}
#counselingSchedule .swiper-slide .timeScale .scaleLine .bigScale:first-child {border-left: 1px solid #777777;}
#counselingSchedule .swiper-slide .timeScale .scaleLine .bigScale p {position: absolute;top: -1.5rem;font-size: 1.2rem;line-height: 1.2rem;width: 2.4rem;text-align: center; left: -1.2rem;}
#counselingSchedule .swiper-slide .timeScale .scaleLine .bigScale .lastScale {left: unset;right: -1.2rem;}
#counselingSchedule .swiper-slide .timeScale .scaleLine .bigScale .smallScale {flex: 1;height: .6rem;border-left: 1px solid #cdcdcd;}
#counselingSchedule .swiper-slide .timeScale .scaleLine .bigScale .smallScale:first-child {border: none;}

#counselingSchedule .swiper-slide .scheduleLine {height: 9.4rem;padding: 1rem 0;}
#counselingSchedule .swiper-slide .scheduleLine ul {height: 100%; display: flex;display: -webkit-flex;flex-direction:column;}
#counselingSchedule .swiper-slide .scheduleLine ul li {flex: 1;position: relative;align-content:space-around;}
#counselingSchedule .swiper-slide .scheduleLine ul li p {position: absolute;width: 4.9rem;padding-left: 1rem;box-sizing: border-box;font-size: 1.2rem;line-height: 1.2rem;left: 0; top: 50%;transform: translateY(-50%);}
#counselingSchedule .swiper-slide .scheduleLine ul li div {height: 1rem;position: absolute;left: 4.9rem;right: 1.3rem;top: 50%;transform: translateY(-50%);background-color: #f2f2f2;}
#counselingSchedule .swiper-slide .scheduleLine ul li div em {display: block;position: absolute;top: 0;bottom: 0;background-color: #da4547;}


.counselorDetail dl .counselingHint div {padding: 0 1rem;}
.counselorDetail dl .counselingHint div ul {display: flex;display: -webkit-flex;}
.counselorDetail dl .counselingHint div ul li {flex: 1;text-align: center;padding: 1.5rem 0 2.5rem 0;}
.counselorDetail dl .counselingHint div ul li img {width: 2.8rem;margin-bottom: 1rem;}
.counselorDetail dl .counselingHint div ul li h1 {font-size: 1.3rem;line-height: 1.3rem;margin-bottom: 2rem;}
.counselorDetail dl .counselingHint div ul li p {font-size: 1.3rem;line-height: 1.3rem;}
.counselorDetail dl .counselingHint div ul li p i {color: #da4547;}
.counselorDetail dl .counselingHint div ul li p span {font-size: 2.2rem;color: #da4547;}

.counselorDetail dl .counselingIntro div {line-height: 2.4rem;padding: 0 1rem;}
.counselorDetail dl .counselingIntro div h2 {padding-left: 1.6rem;background: url(../images/introTitle.png) no-repeat;background-size: 0.9rem 0.9rem;background-position: left center;}
.counselorDetail dl .counselingIntro div p {margin-bottom: 1rem;color: #666666}

.counselorDetail dl .counselorEvaluate .counselorTag {margin-bottom: 1.5rem;padding: 0 1rem;}
.counselorDetail dl .counselorEvaluate .counselorTag span {display: inline-block; height: 2.7rem;line-height: 2.7rem;padding: 0 1.3rem;border-radius: 50px;background-color: #f8dada;font-size: 1.2rem;margin-right: 1rem;}

.counselorDetail dl .counselorEvaluate ul {padding: 0 1rem;}
.counselorDetail dl .counselorEvaluate ul li {margin-top: 1.5rem;}
.counselorDetail dl .counselorEvaluate ul li:first-child {margin: 0}
.counselorDetail dl .counselorEvaluate ul li .evaluateHead {height: 2.6rem;position: relative;padding-left: 3.4rem;line-height: 2.6rem;}
.counselorDetail dl .counselorEvaluate ul li .evaluateHead .evaluateHeadImg {position: absolute;left: 0;top: 0;width: 2.6rem;height: 2.6rem;border-radius: 50%;}
.counselorDetail dl .counselorEvaluate ul li .evaluateHead span {font-size: 1.3rem;color: #666666;}
.counselorDetail dl .counselorEvaluate ul li .evaluateHead p {position: absolute;right: 0;top: 50%;transform: translateY(-50%);}
.counselorDetail dl .counselorEvaluate ul li .evaluateHead p img {width: 1.2rem;height: 1.2rem;margin-right: .2rem;}
.counselorDetail dl .counselorEvaluate ul li .evaluateCont {line-height: 2.4rem;}

.loadingText {position: absolute;bottom: 0;font-size: 1.2rem;color: #999999;left: 0;right: 0;line-height: 4.6rem;text-align: center;}


.counselorBottom {position: fixed;left: 0;bottom: 0;width: 100%;height: 5.5rem;line-height: 5.5rem; z-index: 20;display: flex;display: -webkit-flex;background-color: #FFFFFF;}
.counselorBottom .cb-left {flex: 1;color: #da4547;font-size: 1.6rem;text-align: center;}
.counselorBottom .cb-left img {vertical-align: -0.3rem;width: 2rem;margin-right: .5rem;}
.counselorBottom .cb-right {flex: 2;background-color: #da4547; color: #FFFFFF;font-size: 1.7rem;text-align: center;font-weight: bold;}