body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,section,article,aside,header,footer,nav,dialog,figure,figcaption,hgroup { margin:0; padding:0; }
table { border-collapse:collapse; border-spacing:0; }
h1,h2,h3,h4,h5,h6 { font-weight:normal; font-size:100%; }
ul,ol,li { list-style:none; }
em,i,b { font-style:normal;font-weight: normal; }
img { border:0; }
input,button,img { vertical-align:middle; }
input:focus { outline:0; }
a {text-decoration:none;}
* { -webkit-tap-highlight-color:rgba(0,0,0,0); margin: 0;padding: 0;}
input,textarea,button {font-family: "微软雅黑";font-size: 1.4rem;outline: none;}
select {background: none;}
.clearfix:after { content: "." ; display: block ;height: 0 ;clear: both ;visibility: hidden ;}
#layer {position: fixed;top: 0;left: 0;right:0;bottom:0;z-index:30;background-color:#000000;-moz-opacity: 0.5;opacity:.50;filter: alpha(opacity=50);display: none;}

html {font-size: 56%;}
@media only screen and (min-width: 321px){
    html {
        font-size: 62.5%!important;
    }
}
@media only screen and (min-width: 401px){
    html {
        font-size: 72%!important;
    }
}
@media only screen and (min-width: 481px){
    html {
        font-size: 94%!important;
    }
}
@media only screen and (min-width: 561px){
    html {
        font-size: 109%!important;
    }
}
@media only screen and (min-width: 641px){
    html {
        font-size: 125%!important;
    }
}

body {font-family: "微软雅黑";font-size: 1.4rem;color: #333333;}

#teamNavi {height: 14.9rem;margin-bottom: 1.8rem;padding-bottom: 1.4rem;}
#teamNavi .swiper-slide {width: 86.7%;padding: 0 0.65rem;box-sizing: border-box;}
#teamNavi .swiper-slide .teamNaviContainer {border-radius: 10px;height: 100%;position: relative;background-size: cover;background-position: center center;}
#teamNavi .swiper-slide .teamNaviContainer p {font-size: 1.8rem;position: absolute;bottom: 0;color: #FFFFFF;left: 0;width: 100%;text-align: center;font-weight: bold; line-height: 7rem;height: 6rem;background:-webkit-linear-gradient(bottom, rgba(0,0,0,0.7) , transparent);background: -o-radial-gradient(bottom, rgba(0,0,0,0.5) , transparent); /* Opera 11.6 - 12.0 */background: -moz-radial-gradient(bottom, rgba(0,0,0,0.5) , transparent); /* Firefox 3.6 - 15 */background: radial-gradient(to top, rgba(0,0,0,0.5) , transparent);border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;}
#teamNavi .swiper-slide .teamNaviContainer em {position: absolute;bottom: -1.4rem;left: 50%;transform: translateX(-50%); width: 0;height: 0;border-left: 0.85rem solid transparent;border-right: 0.85rem solid transparent;border-top:.9rem solid #da4547;display: none;  }
#teamNavi .swiper-slide-active .teamNaviContainer em {display: block;}


.teamDetail .startCountDown {margin-bottom: 2.1rem;position: relative;height: 1.5rem;display: none;}
.teamDetail .startCountDown h1 {position: absolute;left: 1.5rem;bottom: 0; font-size:1.5rem;line-height: 1.5rem; }
.teamDetail .startCountDown p {position: absolute;right: 1.5rem;bottom: 0;font-size: 1.3rem;color: #666666;padding-left: 2.1rem;background: url(../images/notStart.png) no-repeat;background-size: 1.55rem 1.55rem;background-position: left center;line-height: 1.55rem;}

#teamMapContainer {}
#teamMapContainer .swiper-button-prev {background-image: url(../images/prevMap.png);left: 2.1rem;width: 3.7rem;height: 3.7rem;background-size: 100% 100%;margin-top: -1.35rem;}
#teamMapContainer .swiper-button-next {background-image: url(../images/nextMap.png);right: 2.1rem;width: 3.7rem;height: 3.7rem;background-size: 100% 100%;margin-top: -1.35rem;}
#teamMapContainer .swiper-button-disabled {display: none!important;}
#teamMapContainer .swiper-slide {padding: 0 1.5rem;box-sizing: border-box}
#teamMapContainer .swiper-slide .teamMap {border-radius: 10px;position: relative;overflow: hidden;}
#teamMapContainer .swiper-slide .teamMap img {width: 100%;}
#teamMapContainer .swiper-slide .teamMap .mapHint {position: absolute;top: 1rem;left: 1rem;}
#teamMapContainer .swiper-slide .teamMap .mapHint p {height: 2.7rem;line-height: 2.7rem;padding: 0 .8rem 0 3rem;font-size: .9rem;position: relative;background-color: rgba(255,255,255,0.3);margin-bottom: 2px;}
#teamMapContainer .swiper-slide .teamMap .flag1 {display: inline-block;width: 1.5rem;height: 2.1rem;font-size: .9rem;color: #FFFFFF;line-height: 1.5rem;text-align: center;background: url(../images/flag1.png);background-size: 100% 100%;position: absolute;}
#teamMapContainer .swiper-slide .teamMap .flag2 {display: inline-block;width: 1.5rem;height: 2.1rem;font-size: .9rem;color: #FFFFFF;line-height: 1.5rem;text-align: center;background: url(../images/flag2.png);background-size: 100% 100%;position: absolute;}
#teamMapContainer .swiper-slide .teamMap .flag3 {display: inline-block;width: 1.5rem;height: 2.1rem;position: absolute;}



#answerJourney {height: 22.3rem;padding: 2.5rem 0 3rem 0;}
#answerJourney .swiper-slide {width: 86.7%;}
#answerJourney .swiper-slide .answerJourneyContainer {border-radius: 10px;height: 100%;transform: scale(0.9);box-shadow: #e2e2e2 0px 0px 20px 2px;box-sizing: border-box;position: relative; }
#answerJourney .swiper-slide .answerJourneyContainer .stations {position: absolute;left: 1.5rem;top: 1.7rem;font-size: 1.5rem;color: #da4547;line-height: 1.5rem;}
#answerJourney .swiper-slide .answerJourneyContainer .date {position: absolute;right: .9rem;top: .7rem;color: #333333;font-size: 3.2rem;font-style: italic}
#answerJourney .swiper-slide .answerJourneyContainer .date span {font-size: 1.8rem;}
#answerJourney .swiper-slide .answerJourneyContainer .date i {font-size: 1.6rem;font-style: normal;margin-left: .5rem;}
#answerJourney .swiper-slide .answerJourneyContainer .description {position: absolute;top: 5.8rem;left: 1.5rem;right: 1.5rem;bottom: 5.5rem;padding-left:9.5rem; }
#answerJourney .swiper-slide .answerJourneyContainer .description .coverImg {position: absolute;left: .3rem;height: 100%;width: 8.1rem;background-color: #e1e1e1;border-radius: 6px;}
#answerJourney .swiper-slide .answerJourneyContainer .description .coverImg img {position: absolute;right: .3rem;bottom: .3rem;width: 100%;height: 100%;border-radius: 6px;}
#answerJourney .swiper-slide .answerJourneyContainer .description h1 {font-size: 1.8rem;line-height: 1.8rem;margin-bottom: 1.3rem;}
#answerJourney .swiper-slide .answerJourneyContainer .description p {font-size: 1.2rem;color: #666666;line-height: 1.8rem;}
#answerJourney .swiper-slide .answerJourneyContainer .answered {position: absolute;left: 1.5rem;bottom: 1.5rem;font-size: 1.1rem;}
#answerJourney .swiper-slide .answerJourneyContainer .answered span {font-size: 1.4rem;color: #da4547;}
#answerJourney .swiper-slide .answerJourneyContainer .journeyBtn {position: absolute;right: 3rem;bottom: 1.3rem;}
#answerJourney .swiper-slide .answerJourneyContainer .journeyBtn p {display: inline-block; font-size: 1.2rem;height: 2.25rem;line-height: 2.25rem;padding: 0 2.2rem 0 1.2rem;border-top-left-radius: 50px;border-bottom-left-radius: 50px;background-color: #e0e0e0;}
#answerJourney .swiper-slide .answerJourneyContainer .journeyBtn img {width: 3.7rem;position: absolute; top: 50%;transform: translateY(-50%); right: -1.85rem;}

#answerJourney .swiper-slide .answerJourneyContainer .answeredScore {position: absolute;right: 2rem;bottom: 1.5rem;line-height: 1.4rem;}
#answerJourney .swiper-slide .answerJourneyContainer .answeredScore span {font-size: 3.6rem;color: #da4547;margin-left: .6rem;font-weight: bold;}


.scaleAnswer {animation: scaleAnswer 0.1s linear forwards;-webkit-animation: scaleAnswer 0.1s linear forwards;} 
@keyframes scaleAnswer
{
	100% {transform: scale(1);}
}

@-webkit-keyframes scaleAnswer
{
	100% {transform: scale(1);}
} 

#ranking {padding: 5.1rem 0 2rem 0;}
#ranking .swiper-pagination {top: 0;bottom: auto!important;}
#ranking .swiper-pagination .swiper-pagination-bullet {width: 9.4rem;opacity: 1;background-color: #bfbfbf;border-radius: 50px;height: 3.1rem;line-height: 3.1rem;font-size: 1.5rem;color: #FFFFFF;position: relative;}
#ranking .swiper-pagination .swiper-pagination-bullet em {position: absolute;bottom: -0.45rem;left: 50%;transform: translateX(-50%); width: 0;height: 0;border-left: 0.55rem solid transparent;border-right: 0.55rem solid transparent;border-top:0.45rem solid #da4547;display: none;}
#ranking .swiper-pagination .swiper-pagination-bullet-active {background-color: #da4547;}
#ranking .swiper-pagination .swiper-pagination-bullet-active em {display: block;}
#ranking .swiper-slide .moreRank {display: block;position: absolute;left: 1.5rem;right: 1.5rem;bottom: 0; height: 3.5rem;line-height: 3.5rem;text-align: center;border-radius: 50px;background-color: #FFFFFF;color: #da4547;box-shadow: #e2e2e2 0px 0px 20px 2px;}
#ranking #answerBoard,#ranking #popularityBoard {padding: 0 1.5rem 5rem 1.5rem;box-sizing: border-box;}
#ranking .boardLeft {width: 48%;border-radius: 10px;background-color: #f4f4f4;box-shadow: #e2e2e2 0px 0px 20px 2px;float: left;overflow: hidden;}
#ranking .boardRight {width: 48%;border-radius: 10px;background-color: #f4f4f4;box-shadow: #e2e2e2 0px 0px 20px 2px;float: right;overflow: hidden;}

#ranking .selfRank {height: 7rem;position: relative;margin-bottom: .4rem;background-color: #FFFFFF;}
#ranking .selfRank .rankImg,#ranking .rankingList li .rankImg {position: absolute;left: 1.2rem;top:0.4rem;width: 1.5rem;}
#ranking .selfRank i,#ranking .rankingList li i {position: absolute;font-size: 2rem;line-height: 2rem; font-weight: bold;color: #da4547;left: 1.2rem;top: .5rem;}
#ranking .selfRank h1,#ranking .rankingList li h1,#ranking .boardRight .selfRank .boardUser,#ranking .boardRight .rankingList li .boardUser {position: absolute;left: 3.5rem; top: 50%;transform: translateY(-50%);width:7rem;overflow: hidden;text-overflow: ellipsis;display:-webkit-box; -webkit-box-orient:vertical;-webkit-line-clamp:2;text-align: center;}
/* right: 7.8rem; */
#ranking .boardRight .selfRank .boardUser img,#ranking .boardRight ul li .boardUser img {width: 3.5rem;height: 3.5rem;border-radius: 50%;}
#ranking .selfRank .boardUser span,#ranking .rankingList li .boardUser span {font-size: 1.3rem; line-height: 1.3rem;margin-top: .7rem;display: block;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
#ranking .selfRank .boardInfo,#ranking .rankingList li .boardInfo,#ranking .selfRank .boardPopular,#ranking .rankingList li .boardPopular {position: absolute;right: 1.5rem;top: 50%;transform: translateY(-50%);text-align: center;}
#ranking .selfRank .boardInfo p,#ranking .rankingList li .boardInfo p {font-size: 1.5rem;color: #da4547;line-height: 1.5rem;font-weight: bold;font-style: italic;margin-bottom: .5rem;}
#ranking .selfRank .boardInfo span,#ranking .rankingList li .boardInfo span {font-size: 1rem;color: #666666;line-height: 1rem;display: block;}

#ranking .selfRank .boardPopular .popularBtn,#ranking .rankingList li .boardPopular .popularBtn {display: block;width: 1.8rem;height: 1.7rem;background-image: url(../images/popular1.png);background-size: 100% 100%;margin: 0 auto .5rem auto;position: relative;}

#ranking .selfRank .boardPopular .popularBtn img,#ranking .rankingList li .boardPopular .popularBtn img {position: absolute;width: 3.5rem;height: 3.5rem;left: 50%;top: 50%;margin-left: -1.75rem;margin-top: -1.75rem;transform: scale(0);display: none;}

#ranking .selfRank .boardPopular span,#ranking .rankingList li .boardPopular span {font-size: 1rem;color: #666666;line-height: 1rem;display: block;}
#ranking .selfRank .boardPopular .hasPraise,#ranking .rankingList li .boardPopular .hasPraise {background-image: url(../images/popular2.png)!important;}

#ranking .selfRank .boardPopular .hasPraise img,#ranking .rankingList li .boardPopular .hasPraise img {animation: praiseLight 1s linear forwards;-webkit-animation: praiseLight 1s linear forwards;}
@keyframes praiseLight
{
	100% {transform: scale(1);}
}

@-webkit-keyframes numRotate
{
	100% {transform: scale(1);}
} 

#ranking .selfRank .notIn {position: absolute;right: 1.5rem;top: 50%;transform: translateY(-50%);color: #da4547;}

#ranking .rankingList li {height: 7rem;position: relative;margin-top: 1px;background-color: #FFFFFF;}
#ranking .rankingList li:first-child {margin: 0;}

#ranking #myTeam {padding: 0 1.5rem;box-sizing: border-box;}
#ranking #myTeam .teamInfo {padding: 2.3rem 1.8rem 3rem 1.8rem;background-color: #FFFFFF;border-radius: 10px;box-shadow: #e2e2e2 0px 0px 20px 2px;position: relative;}
#ranking #myTeam .teamInfo .teamName {text-align: center;}
#ranking #myTeam .teamInfo .teamName::before {content: '';display: inline-block;width: 3rem;height: .5rem;background: url(../images/titleL.png);background-size: 100% 100%;}
#ranking #myTeam .teamInfo .teamName::after {content: '';display: inline-block;width: 3rem;height: .5rem;background: url(../images/titleR.png);background-size: 100% 100%;}
#ranking #myTeam .teamInfo .teamName span {color: #da4547;font-size: 1.7rem;vertical-align: middle;margin: 0 1rem}
#ranking #myTeam .teamInfo h2 {font-size: 1.5rem;color: #666666;text-align: center;line-height: 1.5rem;margin: 1.5rem 0 3.7rem 0;}
#ranking #myTeam .teamInfo .teamData {display: flex;display: -webkit-flex;}
/* padding: 0 1.9rem; */
#ranking #myTeam .teamInfo .teamData div p {font-size: 1.1rem;color: #666666;line-height: 2rem;}
#ranking #myTeam .teamInfo .teamData div p span {font-size: 1.7rem;color: #333333;margin-left: .8rem;}
#ranking #myTeam .teamInfo .teamData .td-left {flex: 1;border-right: 1px solid #eeeeee;}
#ranking #myTeam .teamInfo .teamData .td-right {flex: 1;padding-left: 1.8rem;}

#ranking #myTeam .teamInfo .teamFull {position: absolute;top: 2.7rem;right: 0;width: 6.7rem;}
#ranking #myTeam .teamInfo .gapFull {margin-top: 2rem;color: #da4547;text-align: center;}

#ranking #myTeam .memberList .selfData,#ranking #myTeam .memberList .membersCondition li {height: 7rem;position: relative;background-color: #FFFFFF;}
#ranking #myTeam .memberList .teamlist {margin-top: 1.1rem;border-radius: 10px;background-color: #f4f4f4;box-shadow: #e2e2e2 0px 0px 20px 2px;overflow: hidden;}
#ranking #myTeam .memberList .selfData {margin-bottom: .4rem;}
#ranking #myTeam .memberList .memberUser {position: absolute;left: 1.5rem; top: 50%;transform: translateY(-50%);width: 7rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;text-align: center;}
#ranking #myTeam .memberList .memberUser img {width: 3.5rem;height: 3.5rem;border-radius: 50%;}
#ranking #myTeam .memberList .memberUser span {font-size: 1.3rem;line-height: 1.3rem;display: block;margin-top: .7rem;}
#ranking #myTeam .memberList .unlocked {width: 10.8rem;height: 3.2rem;border-radius: 50px;background-color: #f2f2f2;position: absolute;left: 9rem;top: 50%;transform: translateY(-50%); }
#ranking #myTeam .memberList .unlocked .swiper-slide {height: 100%;}
#ranking #myTeam .memberList .unlocked .swiper-slide i {display: block;width: 2rem;height: 2.2rem;color: #da4547;font-size: 1.1rem;text-align: center;position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);background: url(../images/unlock.png);background-size: 100% 100%;line-height: 2.9rem;}
#ranking #myTeam .memberList .finished {width: 10.8rem;position: absolute;left: 9rem;top: 50%;transform: translateY(-50%);text-align: center;}
#ranking #myTeam .memberList .finished img {width: 7.1rem;}
#ranking #myTeam .memberList .memberInfo {position: absolute;right: 6.3rem;top: 50%;transform: translateY(-50%);text-align: center;}
#ranking #myTeam .memberList .memberInfo p {font-size: 1.5rem;color: #da4547;line-height: 1.5rem;font-weight: bold;font-style: italic;margin-bottom: .5rem;}
#ranking #myTeam .memberList .memberInfo span {font-size: 1rem;color: #666666;line-height: 1rem;display: block;}
#ranking #myTeam .memberList .memberPopular {position: absolute;right: 1.5rem;top: 50%;transform: translateY(-50%);text-align: center;}
#ranking #myTeam .memberList .memberPopular .popularBtn {display: block;width: 1.8rem;height: 1.7rem;background-image: url(../images/popular1.png);background-size: 100% 100%;margin: 0 auto .5rem auto;position: relative;}
#ranking #myTeam .memberList .memberPopular .popularBtn img {position: absolute;width: 3.5rem;height: 3.5rem;left: 50%;top: 50%;margin-left: -1.75rem;margin-top: -1.75rem;transform: scale(0);display: none;}
#ranking #myTeam .memberList .memberPopular .hasPraise {background-image: url(../images/popular2.png)!important;}
#ranking #myTeam .memberList .memberPopular .hasPraise img {animation: praiseLight 1s linear forwards;-webkit-animation: praiseLight 1s linear forwards;}
#ranking #myTeam .memberList .memberPopular span {font-size: 1rem;color: #666666;line-height: 1rem;display: block;}

.notStart {display: none;}
#ranking #myTeam .teamInfo .inviteBtn {display: block;width: 13.6rem;height: 3.8rem;border: 1px solid #da4547;color: #da4547;font-size: 1.5rem;line-height: 3.8rem;text-align: center;border-radius: 50px;margin: 3rem auto 0 auto;}
#ranking #myTeam .teamInfo .inviteBtn img {width: 2rem;height: 2rem;margin-right: .5rem;vertical-align: -0.4rem;}
#ranking #myTeam .teamInfo .teamMembers {display: flex;display: -webkit-flex;}
#ranking #myTeam .teamInfo .teamMembers li {position: relative;width: 25%;text-align: center;}
#ranking #myTeam .teamInfo .teamMembers li .tm-head {width: 6.3rem;height: 6.3rem;border-radius: 50%;border: .1rem solid #e2e2e2;}
#ranking #myTeam .teamInfo .teamMembers li .teamLeader {width: 2.2rem;height: 1.5rem;position: absolute;left: 50%;transform: translateX(-50%);bottom: -0.75rem;}



.hasStart {display: none;}
.notJoin {display: none;}
#ranking #myTeam .teamChoice {background-color: #FFFFFF;padding: .9rem 0; border-radius: 10px;box-shadow: #e2e2e2 0px 0px 20px 2px;display: flex;display: -webkit-flex;}
#ranking #myTeam .teamChoice div {flex: 1;text-align: center;padding: 2rem 0 2.6rem 0;}
#ranking #myTeam .teamChoice .chooseJoin {border-right:.1rem solid #eeeeee; }
#ranking #myTeam .teamChoice div img {width: 2.3rem;height: 2.3rem;margin-bottom: 1.2rem;}
#ranking #myTeam .teamChoice div h1 {font-size: 1.7rem;color: #da4547;line-height: 1.7rem;margin-bottom: 1.7rem;}
#ranking #myTeam .teamChoice div p {font-size: 1.1rem;line-height: 1.1rem;color: #666666;}
#ranking #myTeam .teamChoice div p span {color: #da4547;}


.scorePop {position: fixed;left: 0;top: 0;right: 0;bottom: 0;z-index: 50;display: none;}
.scoreLight {position: absolute;z-index: 10;left: 50%;top: 50%;transform: translate(-50%,-50%);width: 71.2rem;animation: scoreLight 3s linear infinite;-webkit-animation: scoreLight 3s linear infinite;}

@keyframes scoreLight
{
    from {transform: translate(-50%,-50%) rotate(0);}
	to {transform: translate(-50%,-50%) rotate(360deg);}
}

@-webkit-keyframes scoreLight
{
	from {transform: translate(-50%,-50%) rotate(0);}
	to {transform: translate(-50%,-50%) rotate(360deg);}
} 

.scorePopContainer {width: 28.9rem;padding-bottom: 22.2rem; border-radius: 10px;background-color: #FFFFFF;position: absolute; left: 50%;top: 50%;transform: translate(-50%,-50%);padding-top: 2.1rem; z-index: 20;}
.scorePop .closeScore {position: absolute;top: -5.4rem;right: .5rem;display: block;width: 3rem;height: 5.4rem;background: url(../images/closeScore.png);background-size: 100% 100%;}
.scorePop .scoreTitle {width: 17.8rem;height: 4.3rem;line-height: 4.3rem;text-align: center;background: url(../images/scoreTitle.png);background-size: 100% 100%;color: #FFFFFF;margin: 0 auto 1.3rem auto;font-size: 1.6rem;}
.scorePop .score {font-size: 7.5rem;font-weight: bold;color: #da4547;line-height: 6.5rem;text-align: center;position: relative;}
.scorePop .score img {position: absolute;left: 50%;transform: translateX(-50%);margin-left: 4rem;width: 6.7rem;bottom: -2.5rem;}
.scorePop .scoreData {font-size: 1.6rem;line-height: 1.6rem; position: absolute; left: 50%;transform: translateX(-50%);bottom: 13rem;}
.scorePop .scoreData .totalScore {margin-bottom: 1.6rem;}
.scorePop .flauntBtn {position: absolute;bottom: 5.6rem;left: 50%;transform: translateX(-50%); display: block;width: 17.3rem;height: 5.2rem;font-size: 1.8rem; text-align: center; line-height: 5.2rem;background: url(../images/flauntBtn.png);background-size: 100% 100%;color: #FFFFFF;}
.scorePop .scoreInfo {position: absolute;bottom: 2.5rem;left: 0;width: 100%;font-size: 1.3rem;color: #666666;text-align: center;}
.scorePop .scoreInfo span {color: #da4547;}


.chooseOrgPop,.chooseJoinPop {position: absolute;left: 50%;margin-left: -15rem; z-index: 50;padding: 2.4rem 0 3.1rem 0;width: 30rem;text-align: center;background-color: #FFFFFF;border-radius: 10px; display: none;}
.chooseOrgPop h1,.chooseJoinPop h1 {font-size: 1.7rem;line-height: 1.7rem;margin-bottom: 2.8rem;}
.chooseOrgPop input,.chooseJoinPop input {width: 25.5rem;height: 4.5rem; border: none;border-radius: 10px;background-color: #f2f2f2;font-size: 1.6rem;text-align: center;margin-bottom: 2rem;color: #da4547;}
.chooseOrgPop a,.chooseJoinPop a {display: block;background-color: #999999; width: 25.5rem;height: 4.5rem;border-radius: 10px;line-height: 4.5rem;text-align: center;color: #FFFFFF;font-size: 1.6rem;margin: 0 auto;}

.hasCont {background-color: #da4547!important;}



.noUserId,.noSceId {position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);width: 12rem;height: 4rem;line-height: 4rem;text-align: center;color: #FFFFFF;background-color: #da4547;font-size: 1.8rem;border-radius: 50px;}


/* 不符合活动展示 */
#inParty {display: none;}
#notInParty {display: none;position: absolute;left: 0;right: 0;top: 0;bottom: 0;}
#exhiImg {position: absolute;top: 0;left: 0;right: 0;bottom: 7.2rem;}
#exhiImg .swiper-slide {width: 88%;padding: 0 0.75rem;}
#exhiImg .swiper-slide div {height: 100%; background-size: 100% 100%;background-position: center center;border-radius: 10px;}
.readyBtn {position: absolute;bottom: 1.4rem;width: 83%;height: 5rem; left: 50%;transform: translateX(-50%);display: flex;display: -webkit-flex;}
.readyBtn p {flex: 1;}
.readyBtn p a {display: block; width: 12rem;height: 100%;line-height: 5rem;text-align: center;color: 1.6rem;color: #FFFFFF;font-weight: bold;margin: 0 auto;}
.readyBtn p .readyBtn1 {background: url(../images/readyBtn1.png);background-size: 100% 100%;}
.readyBtn p .readyBtn2 {background: url(../images/readyBtn2.png);background-size: 100% 100%;}


