@layout("/common/_container.html"){
<article class="page-container">
	<form class="form form-horizontal" id="roleInfoForm">
	<input type="hidden" value="" id="id" name="id">
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>角色名称：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="text" class="input-text"  id="name" name="name">
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>上级名称：</label>
		<input type="hidden" class="input-text" id="pid" name="pid">
		<div class="formControls col-xs-8 col-sm-9">
			<input type="text" class="input-text" value="" id="fName" name="fName"
			readonly="readonly"
			onclick="RolInfoDlg.showPNameSelectTree(); return false;"
			style="background-color: #ffffff !important;"
			>
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>备注：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<textarea style="width: 560px;height: 100px;" name="tips" id="tips"></textarea>
		</div>
	</div>
	<!-- 这是父级菜单下拉框 -->
	<div id="pNameContent" class="menuContent"
		style="display: none; position: absolute; z-index: 200;">
		<ul id="pNameTree" class="ztree tree-box" style="width: 250px !important;background-color: #ffffff "></ul>
	</div>
	<div class="row cl">
		<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
			<input class="btn btn-success radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
		</div>
	</div>
	</form>
</article>
<script src="${ctxPath}/static/modular/system/sys_role/role_info.js"></script>
@}