@layout("/common/_container.html"){
<article class="page-container">
	<form class="form form-horizontal" id="subjectInfoForm">
	<input type="hidden" value="${info.id}" id="id" name="id">
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>题目：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="text" class="input-text" id="qstn" name="qstn" value="${info.qstn}">
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>选项：</label>
		<label class="form-label col-xs-4 col-sm-4" style="margin-left: 55px;">正确答案 </label>
		<label class="form-label col-xs-1 col-sm-1" style="margin-left:0px;">操作</label>
	</div>
	<div>
		@var a = 1;
		@for(dic in info.optn){
       	<div class="row cl choose">
        <label class="form-label col-xs-4 col-sm-3"><span class="num">${a}.</span></label>
        <div class="formControls col-xs-4 col-sm-4">
        	<input type="text" 
        	@if(dic.result==1){
        		style="border-color: skyblue;"
        	@}
        		
        	class="input-text" name="title" value="${dic.title}">
        </div>
        <input class="rad" class="form-label col-xs-4 col-sm-3" type="radio"  style="width: 15px;height: 15px;" name="result"
        	@if(dic.result==1){
        		checked="checked"
        	@}
        > 
        @a++;
        <label class="del" class="form-label col-xs-4 col-sm-3" style="margin-left: 85px;"> <i class="Hui-iconfont">&#xe60b;</i> </label></div>
		@}
	</div>
	<div id="tab">
		
	</div>
	<div class="row cl">
		<label id="add" class="form-label col-xs-4 col-sm-3"><i class="Hui-iconfont">&#xe604;</i></label>添加选项
	</div>
	<div class="row cl">
		<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
			<input id="save" class="btn btn-primary radius" type="button" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
		</div>
	</div>
	</form>
</article>
<script src="${ctxPath}/static/modular/fzsg/sg_subject/subject_info.js"></script>
@}