@layout("/common/_container.html"){
<nav class="breadcrumb">
<i class="Hui-iconfont">&#xe67f;</i> 
	首页 <span class="c-gray en">&gt;</span>
	@var menuWarpper = menukit.getMenuByCode("award_set");
	@if(menuWarpper !=null){
		${menuWarpper.pname} <span class="c-gray en">&gt;</span> 
		${menuWarpper.name}
	@}
<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" >
	<i class="Hui-iconfont">&#xe68f;</i>
</a>
</nav>
<div class="page-container">
	<div class="text-c">
		
		奖品名称：<input type="text" class="input-text enter" style="width:250px" id="name" name="name">
		<button type="button" class="btn btn-success" id="search" onclick="award.search()"  ><i class="Hui-iconfont">&#xe665;</i> 查询</button>
	</div>
	<div class="cl pd-5 bg-1 bk-gray mt-20"> 
		<span class="l">
			@if(shiro.hasPermission("/set_award/del_award")){
			<a href="javascript:;" onclick="award.del_award()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>
			@}
			@if(shiro.hasPermission("/set_award/add_award")){
			<a href="javascript:;" onclick="award.add_award('新增奖品设置','${ctxPath}/sg_award_set/add_award','200','600')" class="btn btn-success radius"><i class="Hui-iconfont">&#xe600;</i> 新增</a>
			@}
		</span> 
		
	</div>
	<table id="awardTable" class="table table-border table-bordered table-bg">
		<thead>
			<tr>
			
			</tr>
		</thead>
	</table>
	
	
</div>
<!--底侧部分开始-->
		@include("/common/_footer.html"){}	
<!--底侧部分结束-->
<script src="${ctxPath}/static/modular/fzsg/sg_award_set/award_list.js"></script>
@}
