@layout("/common/_container.html"){
<nav class="breadcrumb">
	<i class="Hui-iconfont">&#xe67f;</i> 
	首页 <span class="c-gray en">&gt;</span>
	@var menuWarpper = menukit.getMenuByCode("user");
	@if(menuWarpper !=null){
		${menuWarpper.pname} <span class="c-gray en">&gt;</span> 
		${menuWarpper.name}
	@}
	
	<a class="btn buttons radius r"
		style="line-height: 1.6em; margin-top: 3px"
		href="javascript:location.replace(location.href);" title="刷新"><i
		class="Hui-iconfont">&#xe68f;</i></a>
</nav>
<div class="page-container">
	<div class="text-c">
		管理员名称：<input type="text" class="input-text enter" style="width: 250px"
			 id="" name="userName">
		<button type="button" class="btn buttons" id="search"
			onclick="SysUser.search()">
			<i class="Hui-iconfont">&#xe665;</i> 查询
		</button>
	</div>
	<div class="cl pd-5 bg-1 bk-gray mt-20">
		<span class="l">
			@if(shiro.hasPermission("/sys_user/del")){
			<a href="javascript:;" onclick="SysUser.multi_del()" class="btn btn-danger radius"><i
				class="Hui-iconfont">&#xe6e2;</i> 删除</a> 
			@}
			@if(shiro.hasPermission("/sys_user/add_manger")){
			<a href="javascript:;" onclick="SysUser.admin_add('添加管理员','${ctxPath}/sys_user/user_add','800','500')"
			    class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i>
				新增管理员</a>
			@}
			@if(shiro.hasPermission("/sys_user/add_role")){
			<a href="javascript:;" onclick="SysUser.role_add('添加角色','/sys_user/role_add','300','500')"
			    class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i>
				添加角色</a>
			@}
		</span>
	</div>
	<table id="sysUserTable"
		class="table table-border table-bordered table-bg table-hover table-sort table-responsive">
	</table>
</div>
<!--底侧部分开始-->
@include("/common/_footer.html"){}
<!--底侧部分结束-->
<script src="${ctxPath}/static/modular/system/user/user.js"></script>
@}
