<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<title>咨询师介绍</title>
	<link rel="stylesheet" href="../../assets/css/style.css?v=bef3d2a2fa"/>
</head>
<body class="counselors-bg">
	<div id="counselors">
		<div class="counselors-header">
			<div v-if="headBg" class="counselors-header-bg" :style="'background-image: url('+headBg+')'"></div>
			<div class="counselors-header-logo"><img src="../../assets/images/counselors-share-logo.png"/></div>
			<div class="counselors-header-bt"><img src="../../assets/images/counselors-share-bg.png"/></div>
		</div>
		<div class="counselors-bottom">
			<div class="counselors-bottom-left">
				<div v-cloak class="counselors-message">
					<div v-cloak class="counselors-message1">{{ sendWord1 }}</div>
					<div v-cloak class="counselors-message2">{{ sendWord2 }}</div>
				</div>
				<div class="counselors-qr">
					<div class="counselors-qr-pic"><img src="../../assets/images/counselors-share-qr.png"/></div>
					<div class="counselors-qr-txt"><img src="../../assets/images/counselors-share-icon1.png"/><br>立即下载客户端</div>
				</div>
			</div>
			<div class="counselors-bottom-right">
				<div class="counselors-content">
					<div v-cloak class="counselors-name">{{ list.name }}</div>
					<div v-cloak class="counselors-jobName">{{ list.jobName }}</div>
					<div class="counselors-position" v-html="profieWord"></div>
					<div v-cloak class="counselors-skill">
						擅长<span v-for="todo in list.skillNameList" class="counselors-skill-list">{{ todo }}/</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="../../assets/js/jquery/jquery.min.js?v=b0dc11d0a4"></script>
	<script src="../../assets/js/vue/vue.min.js?v=f268252a2a"></script>
	<script src="../../assets/js/base.js?v=f70ffd10fd"></script>
	<script>
	(function(){
    	var counselorDetails = new Vue({
		    el: '#counselors',
			data:{
				list:'',
				headBg:'',
				sendWord1:'悦纳自我',
				sendWord2:'坦然面对',
				profieWord:'',
			},
			created:function(){
	            var _this=this;
	            var myId=getQueryString("id");//取url地址后面id的参数
	            $.ajax({
		            type:'POST',
		            url:apiCounselorDetail,
		            data:{
		            	counselorId:myId,
		            },
		            success:function(result){
		            	//取到数据并赋予list
		            	_this.list=result.data;
		            	var profie=result.data.profieListModel;
		            	if(profie!=null){
		            		//寄语处理
			            	var message=result.data.profieListModel.shareWord;
			            	if(message==null){
			            		message="悦纳自我，坦然面对";
			            	};
			            	_this.sendWord1=message.substring(0,4);
			            	_this.sendWord2=message.substring(5);
			            	//职称处理
			            	var positions=result.data.profieListModel.mentalPosition;
			            	_this.profieWord=positions.replace(/\s*，|\s*；|\s/g,"<br>");
			            	//封面图处理
			            	var bg=result.data.profieListModel.liveUrl;
			            	if(bg!=null){
			            		_this.headBg=bg;
			            	}
		            	}
		            }
		        })
	        }
		})
	})();
	</script>
</body>
</html>
