<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ffxl.cloud.mapper.SgSubjectMapper">
	<resultMap extends="BaseResultMap" id="SgSubjectMap" type="com.ffxl.cloud.model.SgSubject">
	
	</resultMap>
	<select id="queryPageList" resultMap="SgSubjectMap">
		select * from sg_subject where 1 = 1
		<if test="model.qstn != null and model.qstn != '' ">
			and question_json like CONCAT('%','${model.qstn}','%')
		</if>
		order by create_date desc
	</select>
	<select id="querySubjectByTheme" resultMap="SgSubjectMap"  parameterType="java.lang.String">
		SELECT * FROM sg_subject ORDER BY RAND() LIMIT #{num}
	</select>
</mapper>