<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ffxl.cloud.mapper.SysRoleMapper">
	<resultMap extends="BaseResultMap" id="SysRoleMap" type="com.ffxl.cloud.model.SysRole">
	
	</resultMap>
	<select id="queryPageList" resultMap="SysRoleMap">
		SELECT
			sr1.*, IFNULL(sr2.`name`, '--') AS fatherName
		FROM
			sys_role sr1
		LEFT JOIN sys_role sr2 ON sr1.pid = sr2.id
		where 1 = 1
		<if test="model.name != null and model.name != '' ">
		   and sr1.name like CONCAT('%','${model.name}','%')
		</if>
		
		ORDER BY
			num ASC
	</select>
	
	<select id="roleTreeList" resultType="com.ffxl.platform.core.node.ZTreeNode">
		select id "id",pId
		"pId",name as "name",(case when (pId=0 or pId is null) then 'true'
		else 'false' end) "open" from sys_role
	</select>
	
	<select id="selectMaxNum" resultType="int" parameterType="java.lang.String">
		select IFNULL(max(num),0)as num from sys_role
	</select>
	
	<delete id="deleteRolesById" parameterType="java.lang.String">
		delete from sys_role_menu_rel where role_id = #{roleId}
	</delete>
	
	<select id="roleTreeListByRoleId" resultType="com.ffxl.platform.core.node.ZTreeNode">
		SELECT
		r.id "id",
		pId "pId",
		NAME AS "name",
		(
		CASE
		WHEN (pId = 0 OR pId IS NULL) THEN
		'true'
		ELSE
		'false'
		END
		) "open",
		(
		CASE
		WHEN (r1.ID = 0 OR r1.ID IS NULL) THEN
		'false'
		ELSE
		'true'
		END
		) "checked"
		FROM
		sys_role r
		LEFT JOIN (
		SELECT
		ID
		FROM
		sys_role
		WHERE
		ID IN

		<foreach collection="strArray" index="index" item="i" open="(" separator="," close=")">
			#{i}
		</foreach>

		) r1 ON r.ID = r1.ID
		ORDER BY
		pId,
		num ASC
	</select>
	
</mapper>